Repository kubermatic/kubermatic, pull requests merged in 2021-07, with the labels that each got.

#7318 patch endpoint for cluster template instance
  cmd/kubermatic-api/swagger.json
  pkg/handler/v2/cluster_template/cluster_template.go
  pkg/handler/v2/cluster_template/cluster_template_test.go
  pkg/handler/v2/routes_v2.go
  pkg/provider/kubernetes/cluster_template_instance.go
  pkg/provider/types.go
  pkg/test/e2e/utils/apiclient/client/project/patch_cluster_template_instance_parameters.go
  pkg/test/e2e/utils/apiclient/client/project/patch_cluster_template_instance_responses.go
  pkg/test/e2e/utils/apiclient/client/project/project_client.go
Labels: approved, dco-signoff: yes, lgtm, release-note, sig/api, size/XL

#7324 Return cluster network info from the API
  pkg/handler/common/cluster.go
  pkg/handler/v1/cluster/cluster_test.go
  pkg/handler/v2/cluster/cluster_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, sig/api, size/L

#7315 Whitelisted registry endpoint create
  cmd/kubermatic-api/main.go
  cmd/kubermatic-api/options.go
  cmd/kubermatic-api/swagger.json
  pkg/api/v2/types.go
  pkg/handler/routing.go
  pkg/handler/test/fake_provider.go
  pkg/handler/test/hack/hack.go
  pkg/handler/test/helper.go
  pkg/handler/v2/routes_v2.go
  pkg/handler/v2/routing.go
  pkg/handler/v2/whitelisted_registry/whitelisted_registry.go
  pkg/handler/v2/whitelisted_registry/whitelisted_registry_test.go
  pkg/provider/kubernetes/whitelisted_registry.go
  pkg/provider/types.go
  pkg/test/e2e/utils/apiclient/client/kubermatic_api_client.go
  pkg/test/e2e/utils/apiclient/client/whitelistedregistry/create_whitelisted_registry_parameters.go
  pkg/test/e2e/utils/apiclient/client/whitelistedregistry/create_whitelisted_registry_responses.go
  pkg/test/e2e/utils/apiclient/client/whitelistedregistry/whitelistedregistry_client.go
  pkg/test/e2e/utils/apiclient/models/whitelisted_registry.go
  pkg/test/e2e/utils/apiclient/models/whitelisted_registry_spec.go
  pkg/test/e2e/utils/apiclient/models/wr_body.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, sig/api, size/XL

#7321 Default constraint delete api endpoint
  cmd/kubermatic-api/swagger.json
  pkg/handler/test/fake_provider.go
  pkg/handler/v2/constraint/constraint.go
  pkg/handler/v2/constraint/constraint_test.go
  pkg/handler/v2/routes_v2.go
  pkg/provider/kubernetes/constraint.go
  pkg/provider/kubernetes/constraint_test.go
  pkg/provider/types.go
  pkg/test/e2e/utils/apiclient/client/constraints/constraints_client.go
  pkg/test/e2e/utils/apiclient/client/constraints/delete_default_constraint_parameters.go
  pkg/test/e2e/utils/apiclient/client/constraints/delete_default_constraint_responses.go
  pkg/test/e2e/utils/apiclient/client/kubermatic_api_client.go
Labels: approved, dco-signoff: yes, lgtm, release-note, sig/api, size/XL

#7326 Extend admin settings by mla alertmanager domain
  cmd/kubermatic-api/swagger.json
  pkg/crd/kubermatic/v1/settings.go
  pkg/handler/v1/admin/settings_test.go
  pkg/test/e2e/utils/apiclient/models/setting_spec.go
  pkg/test/e2e/utils/client.go
Labels: approved, dco-signoff: yes, lgtm, release-note, sig/api, sig/cluster-management, size/S

#7330 Add ClusterFeatureCCMClusterName feature for OpenStack clusters
  pkg/crd/kubermatic/v1/cluster.go
  pkg/handler/common/cluster.go
  pkg/resources/cloudcontroller/openstack.go
  pkg/resources/cloudcontroller/util.go
Labels: approved, dco-signoff: yes, lgtm, release-note, sig/api, sig/cluster-management, size/S

#7328 Whitelisted registry endpoint get/list
  cmd/kubermatic-api/swagger.json
  pkg/handler/test/fake_provider.go
  pkg/handler/test/fake_wrapper.go
  pkg/handler/test/helper.go
  pkg/handler/v2/routes_v2.go
  pkg/handler/v2/whitelisted_registry/whitelisted_registry.go
  pkg/handler/v2/whitelisted_registry/whitelisted_registry_test.go
  pkg/provider/kubernetes/whitelisted_registry.go
  pkg/provider/types.go
  pkg/test/e2e/utils/apiclient/client/kubermatic_api_client.go
  pkg/test/e2e/utils/apiclient/client/whitelistedregistries/get_whitelisted_registry_parameters.go
  pkg/test/e2e/utils/apiclient/client/whitelistedregistries/get_whitelisted_registry_responses.go
  pkg/test/e2e/utils/apiclient/client/whitelistedregistries/whitelistedregistries_client.go
  pkg/test/e2e/utils/apiclient/client/whitelistedregistry/list_whitelisted_registries_parameters.go
  pkg/test/e2e/utils/apiclient/client/whitelistedregistry/list_whitelisted_registries_responses.go
  pkg/test/e2e/utils/apiclient/client/whitelistedregistry/whitelistedregistry_client.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, sig/api, size/XXL

#7341 Exclude user ssh key nil value in the validation webhook
  pkg/webhook/cluster/validation/validation.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#7343 define namespace for dex pods in oauth chart
  charts/oauth/Chart.yaml
  charts/oauth/values.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note, sig/app-management, size/XS

#7295 Add aws spot instance market options
  cmd/kubermatic-api/swagger.json
  pkg/api/v1/types.go
  pkg/machine/convert.go
  pkg/resources/machine/common.go
  pkg/test/e2e/utils/apiclient/models/a_w_s_node_spec.go
Labels: approved, dco-signoff: yes, lgtm, release-note, sig/api, sig/cluster-management, size/L

#7348 [release/v2.17] Add Kubernetes Namespace to dex and update Kubermatic Logo
  charts/oauth/Chart.yaml
  charts/oauth/theme/favicon.png
  charts/oauth/theme/logo.svg
  charts/oauth/theme/styles.css
  charts/oauth/values.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note, sig/app-management, size/L

#7340 Add machine deployment restart endpoint
  cmd/kubermatic-api/swagger.json
  pkg/crd/kubermatic/v1/cluster.go
  pkg/handler/common/machine.go
  pkg/handler/v2/machine/machine.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/utils/apiclient/client/project/project_client.go
  pkg/test/e2e/utils/apiclient/client/project/restart_machine_deployment_parameters.go
  pkg/test/e2e/utils/apiclient/client/project/restart_machine_deployment_responses.go
Labels: approved, dco-signoff: yes, lgtm, release-note, sig/api, sig/cluster-management, size/XL

#7339 default constraint patch endpoint
  cmd/kubermatic-api/swagger.json
  pkg/handler/test/fake_provider.go
  pkg/handler/v2/constraint/constraint.go
  pkg/handler/v2/constraint/constraint_test.go
  pkg/handler/v2/routes_v2.go
  pkg/provider/kubernetes/constraint.go
  pkg/provider/kubernetes/constraint_test.go
  pkg/provider/types.go
  pkg/test/e2e/utils/apiclient/client/constraint/constraint_client.go
  pkg/test/e2e/utils/apiclient/client/constraint/patch_default_constraint_parameters.go
  pkg/test/e2e/utils/apiclient/client/constraint/patch_default_constraint_responses.go
Labels: approved, dco-signoff: yes, lgtm, release-note, sig/api, size/XL

#7344 Add the changelogs for v2.17.2, v2.17.1, v2.16.11 releases
  CHANGELOG.md
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/M

#7345 extend cluster templates for credential secret
  pkg/handler/common/cluster.go
  pkg/handler/v1/cluster/cluster_test.go
  pkg/handler/v2/cluster/cluster.go
  pkg/handler/v2/cluster/cluster_test.go
  pkg/handler/v2/cluster_template/cluster_template.go
  pkg/handler/v2/cluster_template/cluster_template_test.go
  pkg/handler/v2/routes_v2.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, sig/api, size/L

#7351 Save forceRestart annotation in correct place
  pkg/handler/common/machine.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, sig/api, size/XS

#7346 Added whitelisted registry PATCH/DELETE endpoints
  cmd/kubermatic-api/swagger.json
  pkg/handler/test/fake_provider.go
  pkg/handler/v2/routes_v2.go
  pkg/handler/v2/whitelisted_registry/whitelisted_registry.go
  pkg/handler/v2/whitelisted_registry/whitelisted_registry_test.go
  pkg/provider/kubernetes/whitelisted_registry.go
  pkg/provider/types.go
  pkg/test/e2e/utils/apiclient/client/whitelistedregistries/delete_whitelisted_registry_parameters.go
  pkg/test/e2e/utils/apiclient/client/whitelistedregistries/delete_whitelisted_registry_responses.go
  pkg/test/e2e/utils/apiclient/client/whitelistedregistries/patch_whitelisted_registry_parameters.go
  pkg/test/e2e/utils/apiclient/client/whitelistedregistries/patch_whitelisted_registry_responses.go
  pkg/test/e2e/utils/apiclient/client/whitelistedregistries/whitelistedregistries_client.go
Labels: approved, dco-signoff: yes, lgtm, release-note, sig/api, size/XXL

#7305 Whitelisted registry controller
  cmd/master-controller-manager/controllers.go
  pkg/api/v1/types.go
  pkg/controller/master-controller-manager/whitelisted-registry-controller/OWNERS
  pkg/controller/master-controller-manager/whitelisted-registry-controller/controller_ce.go
  pkg/controller/master-controller-manager/whitelisted-registry-controller/controller_ee.go
  pkg/controller/master-controller-manager/whitelisted-registry-controller/doc.go
  pkg/ee/whitelisted-registry-controller/OWNERS
  pkg/ee/whitelisted-registry-controller/reconcile.go
  pkg/ee/whitelisted-registry-controller/reconcile_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note, sig/api, sig/cluster-management, size/XL

#7329 Allow to specify sidecars in Alertmanager Helm Chart
  charts/monitoring/alertmanager/Chart.yaml
  charts/monitoring/alertmanager/templates/service.yaml
  charts/monitoring/alertmanager/templates/statefulset.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note, sig/app-management, size/S

#7355 Fix potential race by issuing MLA GW certificate
  pkg/controller/seed-controller-manager/mla/datasource_grafana_controller_test.go
  pkg/controller/seed-controller-manager/mla/resources.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, sig/app-management, size/S

#7353 CCM migration status
  cmd/kubermatic-api/swagger.json
  pkg/api/v1/types.go
  pkg/handler/common/cluster.go
  pkg/handler/common/cluster_test.go
  pkg/handler/v1/cluster/cluster_test.go
  pkg/handler/v2/cluster/cluster_test.go
  pkg/handler/v2/cluster_template/cluster_template_test.go
  pkg/handler/v2/external_cluster/external_cluster_test.go
  pkg/test/e2e/utils/apiclient/models/cluster_status.go
  pkg/test/e2e/utils/apiclient/models/external_c_c_m_migration_status.go
  pkg/test/e2e/utils/apiclient/models/external_c_c_m_status.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, sig/api, size/XL

#7366 manage CredentialsSecretsCleanupFinalizer for cluster template
  pkg/controller/master-controller-manager/cluster-template-synchronizer/controller.go
  pkg/handler/v2/cluster_template/cluster_template.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, sig/api, size/M

#7367 extend owner and editor roles for patch verb
  pkg/controller/master-controller-manager/rbac/mapper.go
  pkg/controller/master-controller-manager/rbac/mapper_test.go
  pkg/controller/master-controller-manager/rbac/sync_resource_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, sig/security, size/M

#7364 add controller for cluster templates
  cmd/seed-controller-manager/controllers.go
  pkg/api/v1/types.go
  pkg/controller/master-controller-manager/cluster-template-synchronizer/controller.go
  pkg/controller/seed-controller-manager/cluster-template-controller/controller.go
  pkg/controller/seed-controller-manager/cluster-template-controller/controller_test.go
  pkg/controller/seed-controller-manager/cluster-template-controller/doc.go
  pkg/provider/kubernetes/cluster_template_instance.go
  pkg/resources/credentials.go
Labels: approved, dco-signoff: yes, lgtm, release-note, sig/api, sig/cluster-management, size/XL

#7369 Etcd backup config api create
  cmd/kubermatic-api/main.go
  cmd/kubermatic-api/options.go
  cmd/kubermatic-api/swagger.json
  pkg/api/v2/types.go
  pkg/handler/middleware/middleware.go
  pkg/handler/routing.go
  pkg/handler/test/fake_provider.go
  pkg/handler/test/hack/hack.go
  pkg/handler/test/helper.go
  pkg/handler/v2/etcdbackupconfig/etcdbackupconfig.go
  pkg/handler/v2/etcdbackupconfig/etcdbackupconfig_test.go
  pkg/handler/v2/routes_v2.go
  pkg/handler/v2/routing.go
  pkg/provider/datacenter.go
  pkg/provider/kubernetes/etcdbackupconfig.go
  pkg/provider/types.go
  pkg/test/e2e/utils/apiclient/client/etcdbackupconfig/create_etcd_backup_config_parameters.go
  pkg/test/e2e/utils/apiclient/client/etcdbackupconfig/create_etcd_backup_config_responses.go
  pkg/test/e2e/utils/apiclient/client/etcdbackupconfig/etcdbackupconfig_client.go
  pkg/test/e2e/utils/apiclient/client/kubermatic_api_client.go
  pkg/test/e2e/utils/apiclient/models/backup_status.go
  pkg/test/e2e/utils/apiclient/models/backup_status_phase.go
  pkg/test/e2e/utils/apiclient/models/condition_status.go
  pkg/test/e2e/utils/apiclient/models/ebc_body.go
  pkg/test/e2e/utils/apiclient/models/etcd_backup_config.go
  pkg/test/e2e/utils/apiclient/models/etcd_backup_config_condition.go
  pkg/test/e2e/utils/apiclient/models/etcd_backup_config_condition_type.go
  pkg/test/e2e/utils/apiclient/models/etcd_backup_config_spec.go
  pkg/test/e2e/utils/apiclient/models/etcd_backup_config_status.go
  pkg/test/e2e/utils/apiclient/models/time.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, sig/api, size/XXL

#7376 Add Blackbox Exporter configuration, scrape config, dashboard
  charts/monitoring/blackbox-exporter/Chart.yaml
  charts/monitoring/blackbox-exporter/values.yaml
  charts/monitoring/grafana/Chart.yaml
  charts/monitoring/grafana/dashboards/monitoring/blackbox-exporter.json
  charts/monitoring/prometheus/Chart.yaml
  charts/monitoring/prometheus/config/scraping/blackbox-exporter.yaml
  charts/monitoring/prometheus/values.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note, sig/app-management, size/XXL

#7377 Fix Blackbox Exporter Dashboard provisioning error
  charts/monitoring/grafana/Chart.yaml
  charts/monitoring/grafana/dashboards/monitoring/blackbox-exporter.json
Labels: approved, dco-signoff: yes, lgtm, release-note-none, sig/app-management, size/M

#7378 Fix Blackbox Exporter Job Name in DashBoard
  charts/monitoring/grafana/Chart.yaml
  charts/monitoring/grafana/dashboards/monitoring/blackbox-exporter.json
Labels: approved, dco-signoff: yes, lgtm, release-note-none, sig/app-management, size/XS

#7380 Etcd backup config api get list
  cmd/kubermatic-api/swagger.json
  pkg/handler/test/fake_provider.go
  pkg/handler/test/fake_wrapper.go
  pkg/handler/test/helper.go
  pkg/handler/v2/etcdbackupconfig/etcdbackupconfig.go
  pkg/handler/v2/etcdbackupconfig/etcdbackupconfig_test.go
  pkg/handler/v2/routes_v2.go
  pkg/provider/kubernetes/etcdbackupconfig.go
  pkg/provider/types.go
  pkg/test/e2e/utils/apiclient/client/etcdbackupconfig/etcdbackupconfig_client.go
  pkg/test/e2e/utils/apiclient/client/etcdbackupconfig/get_etcd_backup_config_parameters.go
  pkg/test/e2e/utils/apiclient/client/etcdbackupconfig/get_etcd_backup_config_responses.go
  pkg/test/e2e/utils/apiclient/client/etcdbackupconfig/list_etcd_backup_config_parameters.go
  pkg/test/e2e/utils/apiclient/client/etcdbackupconfig/list_etcd_backup_config_responses.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, sig/api, size/XXL

#7375 e2e tests for cluster templates
  pkg/test/e2e/api/cluster_rbac_test.go
  pkg/test/e2e/api/cluster_template_test.go
  pkg/test/e2e/api/util.go
  pkg/test/e2e/utils/client.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/L

#7390 Etcd backup config api delete
  cmd/kubermatic-api/swagger.json
  pkg/handler/test/fake_provider.go
  pkg/handler/v2/etcdbackupconfig/etcdbackupconfig.go
  pkg/handler/v2/etcdbackupconfig/etcdbackupconfig_test.go
  pkg/handler/v2/routes_v2.go
  pkg/provider/kubernetes/etcdbackupconfig.go
  pkg/provider/types.go
  pkg/test/e2e/utils/apiclient/client/etcdbackupconfig/delete_etcd_backup_config_parameters.go
  pkg/test/e2e/utils/apiclient/client/etcdbackupconfig/delete_etcd_backup_config_responses.go
  pkg/test/e2e/utils/apiclient/client/etcdbackupconfig/etcdbackupconfig_client.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, sig/api, size/XL

#7388 Add option to specify initContainer in promtail chart
  charts/logging/promtail/Chart.yaml
  charts/logging/promtail/templates/daemonset.yaml
  charts/logging/promtail/values.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note, sig/app-management, size/S

#7387 fix DeepEqual method for different types
  pkg/crd/equality/semantic.go
  pkg/resources/reconciling/compare.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, sig/cluster-management, size/M

#7395 Etcd backup config API patch endpoint
  cmd/kubermatic-api/swagger.json
  pkg/handler/test/fake_provider.go
  pkg/handler/v2/etcdbackupconfig/etcdbackupconfig.go
  pkg/handler/v2/etcdbackupconfig/etcdbackupconfig_test.go
  pkg/handler/v2/routes_v2.go
  pkg/provider/kubernetes/etcdbackupconfig.go
  pkg/provider/types.go
  pkg/test/e2e/utils/apiclient/client/etcdbackupconfig/etcdbackupconfig_client.go
  pkg/test/e2e/utils/apiclient/client/etcdbackupconfig/patch_etcd_backup_config_parameters.go
  pkg/test/e2e/utils/apiclient/client/etcdbackupconfig/patch_etcd_backup_config_responses.go
Labels: approved, dco-signoff: yes, lgtm, release-note, sig/api, size/XL

#7399 add labels info to constraint get/list
  cmd/kubermatic-api/swagger.json
  pkg/api/v2/types.go
  pkg/handler/v2/constraint/constraint.go
  pkg/test/e2e/utils/apiclient/models/constraint.go
Labels: approved, dco-signoff: yes, lgtm, release-note, sig/api, size/S

#7402 Update go mod version
  .prow.yaml
  cmd/conformance-tests/main.go
  cmd/conformance-tests/scenarios_gcp.go
  cmd/conformance-tests/scenarios_vsphere.go
  cmd/example-yaml-generator/main.go
  cmd/image-loader/main.go
  cmd/kubermatic-api/options.go
  cmd/kubermatic-operator/main.go
  cmd/nodeport-proxy/envoy-manager/main.go
  cmd/seed-controller-manager/main.go
  go.mod
  go.sum
  pkg/controller/seed-controller-manager/addon/addon_controller.go
  pkg/controller/seed-controller-manager/addoninstaller/addoninstaller_controller_test.go
  pkg/controller/seed-controller-manager/kubernetes/address.go
  pkg/controller/user-cluster-controller-manager/constraint-syncer/controller_test.go
  pkg/controller/user-cluster-controller-manager/ipam/ipam_controller.go
  pkg/controller/user-cluster-controller-manager/resources/resources/envoy-agent/daemonset.go
  pkg/crd/kubermatic/v1/cluster.go
  pkg/crd/kubermatic/v1/datacenter.go
  pkg/handler/auth/oidc.go
  pkg/handler/common/machine.go
  pkg/handler/middleware/middleware.go
  pkg/handler/routes_v1_admin.go
  pkg/handler/v1/provider/openstack_fixtures_test.go
  pkg/install/stack/kubermatic-master/certmanager.go
  pkg/provider/cloud/azure/provider.go
  pkg/provider/kubernetes/alertmanager.go
  pkg/provider/kubernetes/cluster_template_instance.go
  pkg/provider/kubernetes/rulegroup.go
  pkg/provider/kubernetes/sa_test.go
  pkg/resources/address/address.go
  pkg/resources/apiserver/is-running.go
  pkg/resources/data.go
  pkg/resources/resources.go
  pkg/test/e2e/utils/http.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, sig/api, sig/cluster-management, size/L

#7394 Improve default visibility
  cmd/kubermatic-installer/cmd_print.go
  cmd/kubermatic-installer/main_ce.go
  cmd/kubermatic-installer/main_ee.go
  docs/docs.go
Labels: approved, dco-signoff: yes, lgtm, release-note, sig/cluster-management, size/M

#7401 show datasource selector in grafana dashboard
  charts/monitoring/grafana/Chart.yaml
  charts/monitoring/grafana/dashboards/go/processes-deployments.json
  charts/monitoring/grafana/dashboards/go/processes.json
  charts/monitoring/grafana/dashboards/kubermatic/controller-manager.json
  charts/monitoring/grafana/dashboards/kubermatic/machine-controller.json
  charts/monitoring/grafana/dashboards/kubermatic/user-clusters.json
  charts/monitoring/grafana/dashboards/kubernetes/etcd-overview.json
  charts/monitoring/grafana/dashboards/kubernetes/etcd.json
  charts/monitoring/grafana/dashboards/kubernetes/kubelets-overview.json
  charts/monitoring/grafana/dashboards/kubernetes/kubelets.json
  charts/monitoring/grafana/dashboards/kubernetes/node-namespaces.json
  charts/monitoring/grafana/dashboards/kubernetes/node-resources.json
  charts/monitoring/grafana/dashboards/kubernetes/nodes-overview.json
  charts/monitoring/grafana/dashboards/kubernetes/nodes.json
  charts/monitoring/grafana/dashboards/kubernetes/objects.json
  charts/monitoring/grafana/dashboards/kubernetes/pods.json
  charts/monitoring/grafana/dashboards/kubernetes/resources-cluster.json
  charts/monitoring/grafana/dashboards/kubernetes/resources-namespace.json
  charts/monitoring/grafana/dashboards/kubernetes/resources-pod.json
  charts/monitoring/grafana/dashboards/kubernetes/statefulset.json
  charts/monitoring/grafana/dashboards/kubernetes/volumes.json
  charts/monitoring/grafana/dashboards/minio/overview.json
  charts/monitoring/grafana/dashboards/monitoring/blackbox-exporter.json
  charts/monitoring/grafana/dashboards/monitoring/prometheus.json
  charts/monitoring/grafana/dashboards/monitoring/thanos-compact.json
  charts/monitoring/grafana/dashboards/monitoring/thanos-overview.json
  charts/monitoring/grafana/dashboards/monitoring/thanos-query.json
  charts/monitoring/grafana/dashboards/monitoring/thanos-sidecar.json
  charts/monitoring/grafana/dashboards/monitoring/thanos-store.json
  charts/monitoring/grafana/dashboards/nginx-ingress-controller/overview.json
  hack/lib.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, sig/app-management, size/L

#7411 Fix instructions in README.md
  README.md
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#7349 External CCM migration tests
  .prow.yaml
  Makefile
  hack/run-ccm-migration-e2e-test-in-kind.sh
  pkg/test/e2e/ccm-migration/ccm_migration_suite_test.go
  pkg/test/e2e/ccm-migration/ccm_migration_test.go
  pkg/test/e2e/ccm-migration/cluster.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XL

#7427 Add an enpoint returning OIDC params of user cluster
  cmd/kubermatic-api/swagger.json
  pkg/api/v2/types.go
  pkg/handler/common/kubeconfig.go
  pkg/handler/v2/cluster/cluster.go
  pkg/handler/v2/cluster/kubeconfig.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/utils/apiclient/client/project/get_cluster_oidc_parameters.go
  pkg/test/e2e/utils/apiclient/client/project/get_cluster_oidc_responses.go
  pkg/test/e2e/utils/apiclient/client/project/project_client.go
  pkg/test/e2e/utils/apiclient/models/o_id_c_spec.go
Labels: approved, dco-signoff: yes, lgtm, release-note, sig/api, size/XL

#7430 EtcdRestore API endpoint - create
  cmd/kubermatic-api/main.go
  cmd/kubermatic-api/options.go
  cmd/kubermatic-api/swagger.json
  pkg/api/v2/types.go
  pkg/handler/middleware/middleware.go
  pkg/handler/routing.go
  pkg/handler/test/fake_provider.go
  pkg/handler/test/hack/hack.go
  pkg/handler/test/helper.go
  pkg/handler/v2/etcdrestore/etcdrestore.go
  pkg/handler/v2/etcdrestore/etcdrestore_test.go
  pkg/handler/v2/routes_v2.go
  pkg/handler/v2/routing.go
  pkg/provider/datacenter.go
  pkg/provider/kubernetes/etcdrestore.go
  pkg/provider/types.go
  pkg/test/e2e/utils/apiclient/client/etcdrestore/create_etcd_restore_parameters.go
  pkg/test/e2e/utils/apiclient/client/etcdrestore/create_etcd_restore_responses.go
  pkg/test/e2e/utils/apiclient/client/etcdrestore/etcdrestore_client.go
  pkg/test/e2e/utils/apiclient/client/kubermatic_api_client.go
  pkg/test/e2e/utils/apiclient/models/backup_status.go
  pkg/test/e2e/utils/apiclient/models/er_body.go
  pkg/test/e2e/utils/apiclient/models/etcd_backup_config_condition.go
  pkg/test/e2e/utils/apiclient/models/etcd_restore.go
  pkg/test/e2e/utils/apiclient/models/etcd_restore_phase.go
  pkg/test/e2e/utils/apiclient/models/etcd_restore_spec.go
  pkg/test/e2e/utils/apiclient/models/etcd_restore_status.go
  pkg/test/e2e/utils/apiclient/models/time.go
Labels: approved, dco-signoff: yes, lgtm, release-note, sig/api, size/XXL

#7431 Etcdrestore get/list api endpoints
  cmd/kubermatic-api/swagger.json
  pkg/handler/test/fake_provider.go
  pkg/handler/test/fake_wrapper.go
  pkg/handler/v2/etcdrestore/etcdrestore.go
  pkg/handler/v2/etcdrestore/etcdrestore_test.go
  pkg/handler/v2/routes_v2.go
  pkg/provider/kubernetes/etcdrestore.go
  pkg/provider/types.go
  pkg/test/e2e/utils/apiclient/client/etcdrestore/etcdrestore_client.go
  pkg/test/e2e/utils/apiclient/client/etcdrestore/get_etcd_restore_parameters.go
  pkg/test/e2e/utils/apiclient/client/etcdrestore/get_etcd_restore_responses.go
  pkg/test/e2e/utils/apiclient/client/etcdrestore/list_etcd_restore_parameters.go
  pkg/test/e2e/utils/apiclient/client/etcdrestore/list_etcd_restore_responses.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, sig/api, size/XXL
