Repository kubermatic/kubermatic, pull requests merged in 2023-01, with the labels that each got.

#11609 Update codegen to have 2023 copyright
  pkg/resources/reconciling/zz_generated_reconcile.go
Labels: kind/cleanup, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, sig/cluster-management, kind/chore, docs/none

#11592 Stop overriding upstream chart tolerations for logging/promtail
  charts/logging/promtail/test/default.yaml.out
  charts/logging/promtail/test/kubermatic.example.ce.yaml.out
  charts/logging/promtail/test/kubermatic.example.ee.yaml.out
  charts/logging/promtail/values.yaml
Labels: kind/cleanup, size/S, lgtm, approved, release-note, dco-signoff: yes, sig/app-management, docs/none, backport-needed

#11602 [release/v2.21] Anexia: fix panic when configuring Node Pool with new Disks attribute
  pkg/resources/machine/common.go
  pkg/resources/machine/common_test.go
Labels: kind/bug, size/L, ok-to-test, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, cherry-pick-approved

#11605 mark optional fields in Openstack spec as omitempty
  codegen/example-yaml/main.go
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
Labels: kind/bug, kind/api-change, lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, docs/none

#11553 Add support for Kubernetes v1.23.15, v1.24.9 and v1.25.5
  docs/zz_generated.kubermaticConfiguration.ce.yaml
  docs/zz_generated.kubermaticConfiguration.ee.yaml
  pkg/defaulting/configuration.go
Labels: size/S, lgtm, approved, release-note, dco-signoff: yes, kind/chore, docs/none

#11603 [release/v2.20] Anexia: fix panic when configuring Node Pool with new Disks attribute
  pkg/resources/machine/common.go
  pkg/resources/machine/common_test.go
Labels: kind/bug, size/L, ok-to-test, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, cherry-pick-approved

#11599 Improve Kubeone controller
  pkg/controller/master-controller-manager/kubeone/controller.go
Labels: lgtm, approved, size/M, release-note-none, dco-signoff: yes, sig/cluster-management, docs/none

#11594 Make defaultDestination an optional field in the Seed
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/webhook/seed/validation.go
Labels: kind/bug, size/S, kind/api-change, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/none, backport-needed

#11596 [release/v2.21] Use seed config proxy for seed-cm (#11561)
  pkg/controller/operator/common/util.go
  pkg/controller/operator/common/webhook.go
  pkg/controller/operator/master/resources/kubermatic/api.go
  pkg/controller/operator/master/resources/kubermatic/master-controller-manager.go
  pkg/controller/operator/master/resources/kubermatic/ui.go
  pkg/controller/operator/seed/resources/kubermatic/seed-controller-manager.go
Labels: kind/bug, lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, cherry-pick-approved

#11622 helm client: make uninstall idempotent
  pkg/applications/helmclient/client.go
  pkg/applications/helmclient/client_integration_test.go
Labels: lgtm, approved, size/M, release-note, dco-signoff: yes, sig/app-management, docs/none

#11629 [release/v2.20] Pin MLA version for CI to v0.2.5
  .prow.yaml
  hack/ci/setup-mla.sh
Labels: kind/cleanup, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, sig/cluster-management, kind/chore, cherry-pick-approved

#11608 Applications controller: handle deploys opts
  pkg/apis/apps.kubermatic/v1/application_definition.go
  pkg/apis/apps.kubermatic/v1/application_installation.go
  pkg/apis/apps.kubermatic/v1/zz_generated.deepcopy.go
  pkg/applications/fake/fake_installer.go
  pkg/applications/installer.go
  pkg/applications/providers/template/helm.go
  pkg/applications/providers/template/helm_integration_test.go
  pkg/applications/providers/template/helm_test.go
  pkg/applications/providers/types.go
  pkg/controller/user-cluster-controller-manager/application-installation-controller/controller.go
  pkg/controller/user-cluster-controller-manager/application-installation-controller/controller_integration_test.go
  pkg/controller/user-cluster-controller-manager/application-installation-controller/controller_test.go
  pkg/crd/k8c.io/apps.kubermatic.k8c.io_applicationdefinitions.yaml
  pkg/crd/k8c.io/apps.kubermatic.k8c.io_applicationinstallations.yaml
Labels: kind/feature, size/XL, lgtm, approved, release-note, dco-signoff: yes, sig/app-management, docs/provided

#11630 Add new Main Distributed Switch to vsphere integration test
  hack/ci/testdata/seed.yaml
  pkg/provider/cloud/vsphere/network_test.go
Labels: size/S, lgtm, approved, release-note-none, dco-signoff: yes, sig/cluster-management, kind/chore, docs/none, test/require-vsphere

#11632 Fix Cilium version upgrade + add registry override support
  addons/cilium/cilium_v1.12.yaml
  pkg/cni/cilium.go
  pkg/cni/cilium_test.go
Labels: kind/bug, kind/feature, size/L, lgtm, approved, release-note-none, dco-signoff: yes, sig/app-management, sig/networking, docs/none

#11639 Fix missing SSH keys in e2e tests
  .prow/dualstack.yaml
  .prow/features.yaml
  cmd/conformance-tester/pkg/clients/client_kube.go
  cmd/conformance-tester/pkg/scenarios/alibaba.go
  cmd/conformance-tester/pkg/scenarios/anexia.go
  cmd/conformance-tester/pkg/scenarios/aws.go
  cmd/conformance-tester/pkg/scenarios/azure.go
  cmd/conformance-tester/pkg/scenarios/base.go
  cmd/conformance-tester/pkg/scenarios/digitalocean.go
  cmd/conformance-tester/pkg/scenarios/google.go
  cmd/conformance-tester/pkg/scenarios/hetzner.go
  cmd/conformance-tester/pkg/scenarios/kubevirt.go
  cmd/conformance-tester/pkg/scenarios/nutanix.go
  cmd/conformance-tester/pkg/scenarios/openstack.go
  cmd/conformance-tester/pkg/scenarios/packet.go
  cmd/conformance-tester/pkg/scenarios/vmware_cloud_director.go
  cmd/conformance-tester/pkg/scenarios/vsphere.go
  hack/ci/run-cilium-e2e-test.sh
  hack/ci/run-dualstack-e2e-test.sh
  hack/ci/run-etcd-launcher-tests.sh
  hack/ci/run-ipam-e2e-tests.sh
  hack/ci/run-konnectivity-e2e-test.sh
  hack/ci/run-mla-e2e-tests.sh
  hack/ci/run-opa-e2e-tests.sh
  hack/run-ccm-migration-e2e-test-in-kind.sh
  pkg/machine/builder.go
  pkg/test/e2e/jig/flags.go
  pkg/test/e2e/jig/machine.go
  pkg/test/e2e/jig/presets.go
Labels: kind/cleanup, size/L, lgtm, approved, release-note-none, dco-signoff: yes, sig/cluster-management, docs/none

#11628 [release/v2.21] Pin MLA version for CI to v0.2.5
  hack/ci/setup-mla.sh
Labels: kind/cleanup, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, sig/cluster-management, kind/chore, cherry-pick-approved

#11643 Remove KonnectivityService feature gate & make Konnectivity generally available
  cmd/kubermatic-installer/cmd_mirror_images.go
  cmd/seed-controller-manager/controllers.go
  hack/ci/testdata/kubermatic_dualstack.yaml
  hack/ci/testdata/kubermatic_konnectivity.yaml
  hack/run-seed-controller-manager.sh
  pkg/controller/seed-controller-manager/kubernetes/cluster_controller.go
  pkg/controller/seed-controller-manager/kubernetes/health.go
  pkg/controller/seed-controller-manager/kubernetes/resources.go
  pkg/controller/seed-controller-manager/monitoring/monitoring_controller.go
  pkg/controller/seed-controller-manager/monitoring/resources.go
  pkg/features/features.go
Labels: kind/feature, lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, docs/tbd

#11646 Fix Hubble removal on Cilium version upgrade
  addons/hubble/hubble_v1.12.yaml
Labels: kind/bug, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, sig/app-management, docs/none

#11631 [release/v2.20] Use seed config proxy for seed-cm
  pkg/controller/operator/common/util.go
  pkg/controller/operator/master/resources/kubermatic/api.go
  pkg/controller/operator/master/resources/kubermatic/master-controller-manager.go
  pkg/controller/operator/master/resources/kubermatic/ui.go
  pkg/controller/operator/seed/resources/kubermatic/seed-controller-manager.go
Labels: kind/bug, lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, cherry-pick-approved

#11645 applications installation: reset Status.failures to 0 if the app'spec has changed
  pkg/apis/apps.kubermatic/v1/application_installation.go
  pkg/controller/user-cluster-controller-manager/application-installation-controller/controller.go
  pkg/controller/user-cluster-controller-manager/application-installation-controller/controller_integration_test.go
  pkg/controller/user-cluster-controller-manager/application-installation-controller/controller_test.go
  pkg/crd/k8c.io/apps.kubermatic.k8c.io_applicationinstallations.yaml
Labels: kind/feature, size/L, lgtm, approved, release-note-none, dco-signoff: yes, sig/app-management, docs/none

#11652 Improve CRD description of DatacenterSpec fields
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
Labels: size/L, lgtm, approved, release-note-none, dco-signoff: yes, sig/cluster-management, docs/none

#11617 [release/v2.21] Make defaultDestination an optional field in the Seed
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/webhook/seed/validation.go
Labels: kind/bug, size/S, kind/api-change, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, cherry-pick-approved

#11644 add new fields to externalcluster crd
  pkg/apis/kubermatic/v1/external_cluster.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/crd/k8c.io/kubermatic.k8c.io_externalclusters.yaml
Labels: size/S, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/provided

#11651 KubeVirt add imageCloningEnabled field to cluster
  codegen/example-yaml/main.go
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  pkg/apis/kubermatic/v1/cluster.go
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/provider/cloud/kubevirt/provider.go
  pkg/webhook/seed/validation_ce.go
Labels: kind/feature, lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, sig/virtualization, docs/none

#11655 Fix health status for user cluster components
  pkg/controller/seed-controller-manager/kubernetes/health.go
Labels: kind/bug, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, sig/cluster-management, docs/none

#11659 KubeVirt add custom Network Policies to KubeVirt DC
  codegen/example-yaml/main.go
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
Labels: kind/feature, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, sig/virtualization, docs/tbd

#11664 Add support for kube-dns configmap for nodelocaldns
  pkg/controller/user-cluster-controller-manager/resources/resources/node-local-dns/deamonset.go
Labels: kind/feature, size/S, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/provided

#11666 KubeVirt change CustomNetworkPolicies type in seed (name)
  codegen/example-yaml/main.go
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
Labels: kind/bug, kind/feature, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, sig/virtualization, docs/tbd, backport-needed

#11658 fix CCM migration test flags
  pkg/test/e2e/ccm-migration/ccm_migration_test.go
Labels: kind/bug, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, docs/none

#11656 Upgrade Anexia CCM to v1.5.1
  pkg/resources/cloudcontroller/anexia.go
Labels: kind/bug, ok-to-test, lgtm, approved, release-note, size/XS, dco-signoff: yes, sig/cluster-management, kind/regression, docs/none

#11681 Refactor vSphere integration tests
  pkg/provider/cloud/vsphere/folder_test.go
  pkg/provider/cloud/vsphere/integration_test.go
Labels: kind/cleanup, kind/failing-test, lgtm, approved, size/M, release-note-none, dco-signoff: yes, sig/cluster-management, docs/none

#11674 Update values files path for dev Kubermatic and mla
  hack/ci/deploy-dev.sh
Labels: lgtm, approved, release-note-none, size/XS, dco-signoff: yes, sig/cluster-management, kind/chore, docs/none

#11588 KubeVirt graceful node, workload eviction
  cmd/user-cluster-controller-manager/main.go
  go.mod
  hack/run-user-cluster-controller-manager.sh
  pkg/controller/user-cluster-controller-manager/kubevirt-vmi-eviction/OWNERS
  pkg/controller/user-cluster-controller-manager/kubevirt-vmi-eviction/controller.go
  pkg/controller/user-cluster-controller-manager/kubevirt-vmi-eviction/controller_test.go
  pkg/controller/user-cluster-controller-manager/kubevirt-vmi-eviction/doc.go
  pkg/install/images/images.go
  pkg/resources/usercluster/deployment.go
Labels: kind/feature, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, sig/virtualization, docs/none

#11668 Extend Seed's Spec with OIDC configuration
  .gitignore
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/controller/operator/seed/resources/kubermatic/seed-controller-manager.go
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
Labels: kind/feature, lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, docs/tbd

#11685 [release/v2.20] Refactor vSphere integration tests
  pkg/provider/cloud/vsphere/folder_test.go
  pkg/provider/cloud/vsphere/integration_test.go
Labels: kind/failing-test, lgtm, approved, size/M, release-note-none, dco-signoff: yes, sig/cluster-management, cherry-pick-approved

#11676 [release/v2.21] KubeVirt add custom netpolicies
  cmd/conformance-tester/pkg/scenarios/kubevirt.go
  cmd/conformance-tester/pkg/tests/loadbalancer.go
  cmd/conformance-tester/pkg/tests/storage.go
  cmd/kubermatic-api/swagger.json
  codegen/example-yaml/main.go
  docs/zz_generated.seed.yaml
  hack/ci/testdata/seed.yaml
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/provider/cloud/kubevirt/networkpolicy.go
  pkg/provider/cloud/kubevirt/provider.go
  pkg/provider/cloud/provider.go
  pkg/test/e2e/utils/apiclient/models/custom_network_policy.go
  pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  pkg/test/e2e/utils/apiclient/models/int_or_string.go
  pkg/test/e2e/utils/apiclient/models/ip_block.go
  pkg/test/e2e/utils/apiclient/models/network_policy_egress_rule.go
  pkg/test/e2e/utils/apiclient/models/network_policy_ingress_rule.go
  pkg/test/e2e/utils/apiclient/models/network_policy_peer.go
  pkg/test/e2e/utils/apiclient/models/network_policy_port.go
  pkg/test/e2e/utils/apiclient/models/network_policy_spec.go
  pkg/test/e2e/utils/apiclient/models/policy_type.go
  pkg/test/e2e/utils/apiclient/models/protocol.go
  pkg/test/e2e/utils/apiclient/models/type.go
Labels: kind/bug, size/XXL, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, sig/api, sig/virtualization, cherry-pick-approved

#11677 [release/v2.19] Update MLA to v0.1.5
  hack/ci/setup-mla.sh
Labels: kind/failing-test, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, sig/cluster-management, cherry-pick-approved

#11669 [release/v2.19] Use seed config proxy for seed-cm
  pkg/controller/operator/common/util.go
  pkg/controller/operator/master/resources/kubermatic/api.go
  pkg/controller/operator/master/resources/kubermatic/master-controller-manager.go
  pkg/controller/operator/master/resources/kubermatic/ui.go
  pkg/controller/operator/seed/resources/kubermatic/seed-controller-manager.go
Labels: kind/bug, lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, cherry-pick-approved

#11687 Tunneling expose strategy: report proper ext. address in cluster's status.address.ip
  pkg/controller/user-cluster-controller-manager/resources/controller.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/kubernetes/endpoints.go
  pkg/resources/address/address.go
  pkg/resources/address/address_test.go
Labels: kind/bug, lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, docs/none

#11675 [release/v2.20] KubeVirt fix CI for DC
  cmd/conformance-tests/scenarios_kubevirt.go
  pkg/apis/kubermatic/v1/helper/helper.go
  pkg/provider/cloud/kubevirt/reconciler.go
Labels: kind/failing-test, lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, sig/api, sig/virtualization, sig/crd, cherry-pick-approved

#11680 Remove TunnelingExposeStrategy feature gate and make Tunneling expose strategy GA
  hack/run-expose-strategy-e2e-test-in-kind.sh
  pkg/controller/operator/seed/resources/nodeportproxy/deployments.go
  pkg/features/features.go
  pkg/test/e2e/nodeport-proxy/nodeport_proxy.go
  pkg/validation/cluster.go
  pkg/webhook/cluster/validation/validation_test.go
  pkg/webhook/clustertemplate/validation/validation_test.go
  pkg/webhook/seed/validation.go
  pkg/webhook/seed/validation_test.go
Labels: kind/cleanup, kind/feature, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/provided

#11692 [release/v2.21] Upgrade Anexia CCM to v1.5.1
  pkg/resources/cloudcontroller/anexia.go
Labels: kind/feature, lgtm, approved, release-note, size/XS, dco-signoff: yes, sig/cluster-management, cherry-pick-approved

#11696 [release/v2.20] Changelog for 2.20.12 release
  CHANGELOG.md
Labels: size/S, lgtm, approved, release-note-none, dco-signoff: yes, kind/chore, cherry-pick-approved

#11698 Update Changelogs for pre 2.22 patch releases
  docs/changelogs/CHANGELOG-2.19.md
  docs/changelogs/CHANGELOG-2.20.md
  docs/changelogs/CHANGELOG-2.21.md
Labels: lgtm, approved, size/M, release-note-none, dco-signoff: yes, kind/chore, docs/none

#11701 KubeVirt update seed and cluster to config StorageClasses from seed (…
  codegen/example-yaml/main.go
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  pkg/apis/kubermatic/v1/cluster.go
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
Labels: kind/feature, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, sig/virtualization, docs/tbd

#11697 [release/v2.21] Changelog for 2.21.5 release
  CHANGELOG.md
Labels: lgtm, approved, size/M, release-note-none, dco-signoff: yes, kind/chore, cherry-pick-approved

#11702 Observe configured addons tag suffix when extracting images from addons
  cmd/kubermatic-installer/cmd_mirror_images.go
Labels: kind/bug, size/S, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/none

#11703 Ignore repository overrides in KubermaticConfiguration by default when mirroring images
  cmd/kubermatic-installer/cmd_mirror_images.go
Labels: kind/bug, size/S, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/tbd

#11684 Default `KubermaticConfiguration` to enable etcd-launcher by default
  docs/zz_generated.kubermaticConfiguration.ce.yaml
  docs/zz_generated.kubermaticConfiguration.ee.yaml
  pkg/defaulting/configuration.go
Labels: size/S, lgtm, approved, release-note, dco-signoff: yes, docs/tbd

#11694 Extend Seed's OIDC Provider configuration.
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
Labels: kind/feature, lgtm, approved, size/M, release-note-none, dco-signoff: yes, sig/cluster-management, docs/tbd

#11706 Fix passing of proper tunneling agent IP to the usercluster-controller-mgr
  pkg/resources/usercluster/deployment.go
Labels: lgtm, approved, release-note-none, size/XS, dco-signoff: yes, sig/cluster-management, docs/none

#11707 Revert KubeVirt images cloning and custom images features
  codegen/example-yaml/main.go
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/provider/cloud/kubevirt/data_volume.go
  pkg/provider/cloud/kubevirt/namespace.go
  pkg/provider/cloud/kubevirt/network_policy.go
  pkg/provider/cloud/kubevirt/provider.go
  pkg/webhook/seed/validation_ce.go
  pkg/webhook/seed/validation_test.go
Labels: kind/cleanup, size/XL, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, sig/virtualization, docs/none

#11712 Removed e2e-test mention from 2.20 changelog
  docs/changelogs/CHANGELOG-2.20.md
Labels: kind/cleanup, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, docs/none

#11705 Add `--registry-prefix` flag to `mirror-images` installer command
  cmd/kubermatic-installer/cmd_mirror_images.go
  pkg/install/images/helm.go
  pkg/install/images/images.go
  pkg/install/images/images_test.go
Labels: kind/feature, lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, docs/tbd

#11713 Fix changelog headers for new releases
  docs/changelogs/CHANGELOG-2.19.md
  docs/changelogs/CHANGELOG-2.20.md
  docs/changelogs/CHANGELOG-2.21.md
Labels: kind/documentation, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, docs/none

#11709 Update kubeone controller to use spec for desired state
  pkg/apis/kubermatic/v1/cluster.go
  pkg/apis/kubermatic/v1/common.go
  pkg/apis/kubermatic/v1/external_cluster.go
  pkg/controller/master-controller-manager/kubeone/controller.go
  pkg/kubernetes/helper.go
Labels: size/XL, lgtm, approved, release-note-none, dco-signoff: yes, sig/cluster-management, docs/none

#11716 KubeVirt switch StorageClass config to DC
  addons/csi/kubevirt/csi-driver-operator.yaml
  cmd/conformance-tester/pkg/scenarios/kubevirt.go
  docs/zz_generated.addondata.go.txt
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  hack/ci/testdata/seed.yaml
  pkg/addon/template.go
  pkg/apis/kubermatic/v1/cluster.go
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/provider/cloud/kubevirt/provider.go
  pkg/provider/cloud/kubevirt/storage_class.go
Labels: kind/feature, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, sig/app-management, sig/virtualization, docs/tbd

#11633 Applications: add validating and mutating webhook for deployOptions
  cmd/kubermatic-webhook/main.go
  cmd/user-cluster-webhook/main.go
  pkg/controller/operator/common/webhook.go
  pkg/controller/operator/master/reconciler.go
  pkg/controller/operator/seed/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/applications/webhook.go
  pkg/defaulting/application_definition.go
  pkg/defaulting/application_definition_test.go
  pkg/defaulting/application_installation.go
  pkg/defaulting/application_installation_test.go
  pkg/validation/application_definition.go
  pkg/validation/application_definition_test.go
  pkg/validation/application_installation.go
  pkg/validation/application_installation_test.go
  pkg/webhook/application/applicationdefinition/mutation/mutation.go
  pkg/webhook/application/applicationdefinition/mutation/mutation_test.go
  pkg/webhook/application/applicationinstallation/mutation/mutation.go
  pkg/webhook/application/applicationinstallation/mutation/mutation_test.go
Labels: kind/feature, size/XXL, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/none

#11714 [release/v2.19] Fix header in CHANGELOG.md
  CHANGELOG.md
Labels: kind/cleanup, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, cherry-pick-approved

#11715 [release/v2.20] Update changelog header
  CHANGELOG.md
Labels: kind/cleanup, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, cherry-pick-approved

#11718 Periodically reconcile CNI app & use atomic deployment option
  pkg/controller/seed-controller-manager/cni-application-installation-controller/controller.go
Labels: kind/feature, size/S, lgtm, approved, release-note-none, dco-signoff: yes, sig/networking, docs/none

#11708 Add option for configuring Helm repository for storing system Applications (e.g. Cilium CNI)
  docs/zz_generated.kubermaticConfiguration.ce.yaml
  docs/zz_generated.kubermaticConfiguration.ee.yaml
  pkg/apis/kubermatic/v1/configuration.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/cni/cilium/cilium-mirror-chart.sh
  pkg/cni/cilium/cilium.go
  pkg/cni/cilium/cilium_test.go
  pkg/cni/cilium/doc.go
  pkg/cni/version.go
  pkg/controller/operator/master/reconciler.go
  pkg/controller/seed-controller-manager/cni-application-installation-controller/controller.go
  pkg/crd/k8c.io/kubermatic.k8c.io_kubermaticconfigurations.yaml
  pkg/defaulting/configuration.go
  pkg/defaulting/images_ce.go
  pkg/defaulting/images_ee.go
  pkg/resources/reconciling/zz_generated_reconcile.go
  pkg/validation/application_installation.go
Labels: kind/feature, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, sig/networking, docs/tbd

#11502 Add keepalive-time setting for Konnectivity
  cmd/user-cluster-controller-manager/main.go
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  pkg/apis/kubermatic/v1/cluster.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/controller/user-cluster-controller-manager/resources/controller.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/konnectivity/deployment.go
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/install/images/images.go
  pkg/resources/data.go
  pkg/resources/konnectivity/sidecar.go
  pkg/resources/usercluster/deployment.go
Labels: kind/feature, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/none

#11717 Do not use external `docker` binary for `kubermatic-installer mirror-images`
  cmd/kubermatic-installer/cmd_mirror_images.go
  go.mod
  go.sum
  pkg/install/images/docker/docker.go
  pkg/install/images/images.go
  pkg/install/images/images_test.go
Labels: kind/feature, size/XL, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/tbd

#11719 Include system Applications in kubermatic-installer mirror-images
  cmd/kubermatic-installer/cmd_mirror_images.go
  pkg/install/images/application_definitions.go
  pkg/install/images/helm.go
  pkg/install/images/images_test.go
Labels: kind/feature, size/L, lgtm, approved, release-note-none, dco-signoff: yes, sig/cluster-management, docs/none

#11722 gatekeeper: fix missing violation report in constraint's status
  pkg/controller/user-cluster-controller-manager/resources/resources/gatekeeper/deployment.go
Labels: kind/bug, size/S, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/none

#11723 OPA integration: allow to define enforcementAction in constraints.kubermatic.k8c.io/v1
  pkg/apis/kubermatic/v1/constraint.go
  pkg/controller/user-cluster-controller-manager/constraint-syncer/controller.go
  pkg/controller/user-cluster-controller-manager/constraint-syncer/controller_test.go
  pkg/crd/k8c.io/kubermatic.k8c.io_constraints.yaml
  pkg/test/constraints.go
Labels: kind/feature, lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, docs/provided

#11724 Update vsphere csi driver to v2.7
  addons/csi/vsphere/csi-snapshot-validatingwebhook.yaml
  addons/csi/vsphere/rbac-snapshot-controller.yaml
  addons/csi/vsphere/setup-snapshot-controller.yaml
  addons/csi/vsphere/snapshot-crds.yaml
  addons/csi/vsphere/vsphere-csi-driver.yaml
  pkg/controller/user-cluster-controller-manager/resources/resources/csi-snapshotter/webhook.go
Labels: size/XL, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, sig/app-management, kind/chore, docs/none

#11739 fix push-images not using docker mirror
  hack/ci/push-images.sh
Labels: kind/cleanup, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, sig/cluster-management, docs/none, code-freeze-approved

#11665 Add cluster reconciliation for vSphere
  pkg/apis/kubermatic/v1/cluster.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/controller/shared/nodedeployment-migration/machine/common.go
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/machine/provider/vsphere.go
  pkg/provider/cloud/vsphere/category.go
  pkg/provider/cloud/vsphere/credentials.go
  pkg/provider/cloud/vsphere/folder.go
  pkg/provider/cloud/vsphere/folder_test.go
  pkg/provider/cloud/vsphere/network.go
  pkg/provider/cloud/vsphere/provider.go
  pkg/provider/cloud/vsphere/provider_test.go
  pkg/provider/cloud/vsphere/session.go
  pkg/provider/cloud/vsphere/tags.go
  pkg/provider/cloud/vsphere/utils.go
Labels: size/XXL, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/none

#11731 Automate docs sync for KKP components page
  hack/ci/update-docs.sh
Labels: size/S, kind/documentation, lgtm, approved, release-note-none, dco-signoff: yes, sig/cluster-management, docs/none, code-freeze-approved

#11744 Fix path to charts directory for hack/ci/update-docs.sh
  hack/ci/update-docs.sh
Labels: kind/documentation, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, sig/cluster-management, docs/none, code-freeze-approved

#11742 Bump Cilium 1.13.0 to rc5 for testing
  pkg/cni/cilium/cilium-mirror-chart.sh
  pkg/cni/cilium/cilium.go
Labels: kind/feature, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, sig/networking, kind/chore, docs/none, code-freeze-approved

#11743 Bump Metering to v1.0.2
  pkg/ee/metering/reconcile.go
Labels: lgtm, approved, release-note, size/XS, dco-signoff: yes, docs/none, code-freeze-approved

#11745 Fix hack/ci/update-docs.sh again
  hack/ci/update-docs.sh
Labels: kind/documentation, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, sig/cluster-management, docs/none, code-freeze-approved

#11754 [release/v2.21] Bump Metering to v1.0.2
  pkg/ee/metering/reconcile.go
Labels: lgtm, approved, release-note, size/XS, dco-signoff: yes, cherry-pick-approved, do-not-merge/code-freeze

#11749 Improve validation for versioning configuration
  pkg/defaulting/configuration_test.go
  pkg/validation/kubermaticconfiguration.go
Labels: kind/bug, size/L, lgtm, approved, release-note, dco-signoff: yes, docs/none, code-freeze-approved

#11757 Avoid using OSM APIs in KKP for OSM migration
  cmd/kubermatic-operator/main.go
  pkg/controller/operator/seed/reconciler.go
  pkg/controller/seed-controller-manager/operating-system-profile-synchronizer/controller.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/util/migration/operatingsystemmanager.go
Labels: kind/bug, lgtm, approved, size/M, release-note-none, dco-signoff: yes, sig/cluster-management, docs/none, code-freeze-approved

#11756 Fix web socket connections timeout
  pkg/controller/operator/master/resources/kubermatic/common.go
Labels: kind/bug, lgtm, approved, release-note, size/XS, dco-signoff: yes, sig/cluster-management, docs/tbd, code-freeze-approved

#11765 Allow k8s version upgrade for non-amd64 nodes with Canal and IPVS for all k8s versions
  docs/zz_generated.kubermaticConfiguration.ce.yaml
  docs/zz_generated.kubermaticConfiguration.ee.yaml
  pkg/apis/kubermatic/v1/configuration.go
  pkg/crd/k8c.io/kubermatic.k8c.io_kubermaticconfigurations.yaml
  pkg/defaulting/configuration.go
Labels: lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, docs/provided, code-freeze-approved

#11766 [release/v2.21] Allow k8s version upgrade for non-amd64 nodes with Canal and IPVS for all k8s versions
  docs/zz_generated.kubermaticConfiguration.yaml
  pkg/apis/kubermatic/v1/configuration.go
  pkg/controller/operator/defaults/defaults.go
  pkg/crd/k8c.io/kubermatic.k8c.io_kubermaticconfigurations.yaml
  pkg/handler/common/upgrade.go
Labels: kind/bug, lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, sig/api, cherry-pick-approved, do-not-merge/code-freeze

#11761 Reconcile CNI ApplicationInstallation periodically
  cmd/seed-controller-manager/controllers.go
  cmd/seed-controller-manager/options.go
  pkg/controller/seed-controller-manager/cni-application-installation-controller/controller.go
Labels: kind/bug, size/S, lgtm, approved, release-note-none, dco-signoff: yes, sig/networking, docs/none, code-freeze-approved

#11768 Add autoscaler support for Kubernetes 1.26
  addons/cluster-autoscaler/cluster-autoscaler.yaml
Labels: kind/cleanup, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, sig/app-management, docs/none, code-freeze-approved

#11781 Add validation for installer to fail if a docker cluster still exists
  pkg/install/stack/kubermatic-master/validation.go
Labels: kind/cleanup, lgtm, approved, release-note, size/XS, dco-signoff: yes, sig/cluster-management, docs/none, code-freeze-approved

#11780 Actually validate container runtime during cluster validation
  pkg/validation/cluster.go
  pkg/validation/cluster_test.go
  pkg/webhook/cluster/validation/validation_test.go
  pkg/webhook/clustertemplate/validation/validation_test.go
Labels: kind/bug, lgtm, approved, size/M, release-note, dco-signoff: yes, docs/none, backport-needed, code-freeze-approved

#11784 Bring back vsphere.ValidateCredentials for use in kubermatic-api
  pkg/provider/cloud/vsphere/credentials.go
Labels: kind/bug, size/S, lgtm, approved, release-note-none, dco-signoff: yes, sig/cluster-management, docs/none, code-freeze-approved

#11791 fix constraint-syncer: EnforcementAction is not removed
  pkg/controller/user-cluster-controller-manager/constraint-syncer/controller.go
  pkg/controller/user-cluster-controller-manager/constraint-syncer/controller_test.go
Labels: kind/bug, lgtm, approved, size/M, release-note-none, dco-signoff: yes, sig/cluster-management, docs/none, code-freeze-approved

#11790 Reconcile vSphere Tags and Tag Categories
  pkg/apis/kubermatic/v1/cluster.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/machine/provider/vsphere.go
  pkg/provider/cloud/vsphere/category.go
  pkg/provider/cloud/vsphere/folder.go
  pkg/provider/cloud/vsphere/folder_test.go
  pkg/provider/cloud/vsphere/provider.go
  pkg/provider/cloud/vsphere/tags.go
Labels: kind/cleanup, kind/feature, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/none, code-freeze-approved
