Repository kubermatic/kubermatic, pull requests merged in 2024-06, with the labels that each got.

#13403 Improve cluster-backup controller
  pkg/ee/cluster-backup/controller.go
  pkg/ee/cluster-backup/resources/user-cluster/cluster_backup.go
  pkg/ee/cluster-backup/resources/user-cluster/crds.go
  pkg/ee/cluster-backup/resources/user-cluster/deployment.go
  pkg/ee/cluster-backup/resources/user-cluster/node_agent.go
  pkg/ee/cluster-backup/resources/user-cluster/secret.go
  pkg/resources/resources.go
Labels: kind/cleanup, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/none, backport-needed

#13409 CoreDNS resources overrides
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  pkg/apis/kubermatic/v1/cluster.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/controller/user-cluster-controller-manager/resources/controller.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/deployment.go
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/resources/resources.go
  pkg/validation/cluster.go
  pkg/validation/cluster_test.go
Labels: kind/feature, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, kind/deprecation, docs/none, backport-needed

#13416 [release/v2.25] Improve cluster-backup controller (#13403)
  pkg/ee/cluster-backup/controller.go
  pkg/ee/cluster-backup/resources/user-cluster/cluster_backup.go
  pkg/ee/cluster-backup/resources/user-cluster/crds.go
  pkg/ee/cluster-backup/resources/user-cluster/deployment.go
  pkg/ee/cluster-backup/resources/user-cluster/node_agent.go
  pkg/ee/cluster-backup/resources/user-cluster/secret.go
  pkg/resources/resources.go
Labels: kind/bug, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, cherry-pick-approved

#13419 Fix additional print columns for cluster templates
  pkg/apis/kubermatic/v1/cluster_templates.go
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
Labels: kind/bug, size/S, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/none, backport-needed

#13427 Bump Go version to 1.22.4
  .codespell.exclude
  .prow/ccm-migrations.yaml
  .prow/dualstack.yaml
  .prow/features.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-packet.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/tests.yaml
  addons/canal/canal_v3.23.yaml
  addons/canal/canal_v3.24.yaml
  addons/canal/canal_v3.25.yaml
  addons/canal/canal_v3.26.yaml
  addons/canal/canal_v3.27.yaml
  docs/changelogs/CHANGELOG-2.19.md
  docs/proposals/introduce-apps.md
  hack/images/integration-tests/Dockerfile
  hack/verify-licenses.sh
  hack/verify-spelling.sh
  pkg/controller/nodeport-proxy/envoymanager/controller_test.go
Labels: size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, sig/app-management, kind/chore, docs/none

#13435 Fix missing image rewrites
  cmd/master-controller-manager/controllers.go
  cmd/master-controller-manager/main.go
  cmd/seed-controller-manager/wrappers_ee.go
  pkg/controller/master-controller-manager/kubeone/controller.go
  pkg/controller/operator/master/resources/kubermatic/master-controller-manager.go
  pkg/ee/cluster-backup/controller.go
  pkg/ee/cluster-backup/resources/user-cluster/deployment.go
  pkg/ee/cluster-backup/resources/user-cluster/node_agent.go
  pkg/install/images/wrappers_ee.go
  pkg/resources/csi/kubevirt/deployment.go
Labels: kind/bug, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/none, backport-needed

#13428 [release/v2.25] Bump Go version to 1.22.4
  .codespell.exclude
  .prow/ccm-migrations.yaml
  .prow/dualstack.yaml
  .prow/features.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-packet.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/tests.yaml
  addons/canal/canal_v3.23.yaml
  addons/canal/canal_v3.24.yaml
  addons/canal/canal_v3.25.yaml
  addons/canal/canal_v3.26.yaml
  addons/canal/canal_v3.27.yaml
  docs/changelogs/CHANGELOG-2.19.md
  docs/proposals/introduce-apps.md
  hack/images/integration-tests/Dockerfile
  hack/update-codegen.sh
  hack/verify-licenses.sh
  hack/verify-spelling.sh
  pkg/controller/nodeport-proxy/envoymanager/controller_test.go
Labels: size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, sig/app-management, kind/chore, cherry-pick-approved

#13417 [release/v2.25] CoreDNS resources overrides (#13409)
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  pkg/apis/kubermatic/v1/cluster.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/controller/user-cluster-controller-manager/resources/controller.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/deployment.go
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/resources/resources.go
  pkg/validation/cluster.go
  pkg/validation/cluster_test.go
Labels: kind/feature, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, cherry-pick-approved

#13418 [release/v2.24] CoreDNS resources overrides (#13409)
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  pkg/apis/kubermatic/v1/cluster.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/controller/user-cluster-controller-manager/resources/controller.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/core-dns/deployment.go
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/resources/resources.go
  pkg/validation/cluster.go
  pkg/validation/cluster_test.go
Labels: kind/feature, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, cherry-pick-approved

#13440 fix usercluster-ctrl-mgr spamming oldest node version in its logs
  pkg/controller/user-cluster-controller-manager/node-version-controller/controller.go
Labels: kind/bug, lgtm, approved, release-note, size/XS, dco-signoff: yes, sig/cluster-management, docs/none

#13438 fix(metrics-server): correct networkpolicy port for metrics-server
  pkg/controller/user-cluster-controller-manager/resources/resources/metrics-server/deployment.go
  pkg/controller/user-cluster-controller-manager/resources/resources/metrics-server/networkpolicy.go
Labels: needs-ok-to-test, lgtm, approved, release-note, size/XS, dco-signoff: yes, sig/cluster-management, docs/none

#13442 Add `AllowedOperatingSystems` option in the project object.
  pkg/apis/kubermatic/v1/project.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/crd/k8c.io/kubermatic.k8c.io_projects.yaml
Labels: kind/feature, size/S, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/none

#13443 add 1.30 to EKS/AKS versions, bump Kube patch versions
  docs/zz_generated.kubermaticConfiguration.ce.yaml
  docs/zz_generated.kubermaticConfiguration.ee.yaml
  pkg/defaulting/configuration.go
Labels: lgtm, approved, size/M, release-note, dco-signoff: yes, kind/chore, docs/none

#13437 Fix duplicate imports
  .golangci.yml
  cmd/http-prober/main.go
  pkg/controller/master-controller-manager/usersshkey-synchronizer/controller.go
  pkg/controller/seed-controller-manager/addon/addon_controller.go
  pkg/controller/user-cluster-controller-manager/resources/resources/gatekeeper/crds.go
  pkg/install/images/addons.go
  pkg/provider/cloud/vsphere/folder.go
  pkg/test/e2e/expose-strategy/tunneling_test.go
Labels: kind/cleanup, lgtm, approved, size/M, release-note-none, dco-signoff: yes, sig/cluster-management, docs/none

#13446 [release/v2.24] fix(metrics-server): correct networkpolicy port for secure metrics-server port (#13438)
  pkg/controller/user-cluster-controller-manager/resources/resources/metrics-server/deployment.go
  pkg/controller/user-cluster-controller-manager/resources/resources/metrics-server/networkpolicy.go
Labels: kind/bug, lgtm, approved, release-note, size/XS, dco-signoff: yes, sig/cluster-management, cherry-pick-approved

#13447 [release/v2.23] fix(metrics-server): correct networkpolicy port for secure metrics-server port (#13438)
  hack/run-tests.sh
  pkg/controller/user-cluster-controller-manager/resources/resources/metrics-server/deployment.go
  pkg/controller/user-cluster-controller-manager/resources/resources/metrics-server/networkpolicy.go
Labels: kind/bug, size/S, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, cherry-pick-approved

#13456 [release/v2.25] add 2.23.16, 2.24.9, 2.25.5 changelog
  docs/changelogs/CHANGELOG-2.23.md
  docs/changelogs/CHANGELOG-2.24.md
  docs/changelogs/CHANGELOG-2.25.md
Labels: lgtm, approved, size/M, release-note-none, dco-signoff: yes, kind/chore, cherry-pick-approved

#13457 [release/v2.23] fix links in changelog
  docs/changelogs/CHANGELOG-2.23.md
Labels: lgtm, approved, release-note-none, size/XS, dco-signoff: yes, kind/chore, cherry-pick-approved

#13458 [release/v2.24] fix links in changelog
  docs/changelogs/CHANGELOG-2.23.md
  docs/changelogs/CHANGELOG-2.24.md
Labels: lgtm, approved, release-note-none, size/XS, dco-signoff: yes, kind/chore, cherry-pick-approved

#13459 [release/v2.25] fix links in changelog
  docs/changelogs/CHANGELOG-2.23.md
  docs/changelogs/CHANGELOG-2.24.md
  docs/changelogs/CHANGELOG-2.25.md
Labels: size/S, lgtm, approved, release-note-none, dco-signoff: yes, kind/chore, cherry-pick-approved

#13460 add 2.23.16, 2.24.9, 2.25.5 changelog
  docs/changelogs/CHANGELOG-2.23.md
  docs/changelogs/CHANGELOG-2.24.md
  docs/changelogs/CHANGELOG-2.25.md
Labels: lgtm, approved, size/M, release-note-none, dco-signoff: yes, kind/chore, docs/none

#13462 use Release.Last instead of 0 index
  pkg/applications/helmclient/client.go
Labels: lgtm, approved, release-note, size/XS, dco-signoff: yes, sig/app-management, cherry-pick-approved

#13464 [release/v2.25] add changelogs for 2.14.10, 2.25.6
  docs/changelogs/CHANGELOG-2.24.md
  docs/changelogs/CHANGELOG-2.25.md
Labels: size/S, lgtm, approved, release-note-none, dco-signoff: yes, kind/chore, cherry-pick-approved

#13465 [release/v2.24] add changelog for 2.14.10
  docs/changelogs/CHANGELOG-2.24.md
Labels: size/S, lgtm, approved, release-note-none, dco-signoff: yes, kind/chore, cherry-pick-approved

#13466 add changelogs for 2.14.10, 2.25.6
  docs/changelogs/CHANGELOG-2.24.md
  docs/changelogs/CHANGELOG-2.25.md
Labels: size/S, lgtm, approved, release-note-none, dco-signoff: yes, kind/chore, docs/none

#13467 [release/v2.25] remove prometheus exporter dashboard from seed mla grafana
  charts/cert-manager/test/test-certmanager.sh
  charts/monitoring/grafana/dashboards/prometheus-exporter/overview.json
  charts/monitoring/grafana/provisioning/dashboards/prometheus-exporter.yaml
Labels: size/XXL, lgtm, approved, release-note, dco-signoff: yes, sig/app-management, cherry-pick-approved

#13470 bump cloud provider SDKs
  go.mod
  go.sum
  pkg/provider/cloud/aws/client.go
  pkg/test/e2e/cilium/cilium_test.go
Labels: size/XL, lgtm, approved, release-note-none, dco-signoff: yes, sig/cluster-management, kind/chore, docs/none

#13471 [EE] create ConfigMap for Velero to use custom restore helper image
  pkg/ee/cluster-backup/controller.go
  pkg/ee/cluster-backup/resources/user-cluster/cluster_backup.go
Labels: kind/bug, kind/feature, lgtm, approved, size/M, release-note, dco-signoff: yes, docs/none

#13474 Fix backup deployment panic
  pkg/ee/cluster-backup/controller.go
Labels: kind/bug, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, docs/none
