Repository kubermatic/kubermatic, pull requests merged in 2024-05, with the labels that each got.

#13360 Implement kubermatic-installer deploy seed-mla
  cmd/kubermatic-installer/cmd_deploy.go
  pkg/install/stack/seed-mla/stack.go
  pkg/install/stack/seed-mla/validation.go
Labels: size/XL, lgtm, approved, release-note-none, dco-signoff: yes, sig/cluster-management, docs/provided

#13367 Add deploy seed-mla ci
  hack/ci/deploy-dev.sh
  hack/ci/deploy.sh
Labels: size/S, lgtm, approved, release-note-none, dco-signoff: yes, sig/cluster-management, docs/none

#13368 Fix promtail namespace in kubermatic-installer
  pkg/install/stack/seed-mla/stack.go
Labels: lgtm, approved, release-note-none, size/XS, dco-signoff: yes, sig/cluster-management, docs/none

#13366 Don't propagate cloud-config secret to user cluster
  addons/csi/azure-disk/csi-azuredisk-controller.yaml
  addons/csi/azure-disk/csi-azuredisk-node.yaml
  addons/csi/azure-file/csi-azurefile-controller.yaml
  addons/csi/azure-file/csi-azurefile-node.yaml
  addons/csi/openstack/controllerplugin.yaml
  addons/csi/openstack/nodeplugin.yaml
  pkg/controller/seed-controller-manager/kubernetes/resources.go
  pkg/controller/user-cluster-controller-manager/resources/cloudcontroller/deletion.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/resources/cloudconfig/secret.go
Labels: kind/bug, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, sig/app-management, docs/none

#13284 Prevent accidental object deletions
  cmd/kubermatic-webhook/main.go
  pkg/controller/operator/common/resources.go
  pkg/controller/operator/common/webhook.go
  pkg/controller/operator/master/reconciler.go
  pkg/controller/operator/seed/reconciler.go
  pkg/webhook/policies/admission.go
Labels: kind/feature, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/none

#13370 Delete logging and monitoring installation from hack/ci
  hack/ci/deploy-dev.sh
  hack/ci/deploy.sh
  hack/ci/release-images.sh
Labels: lgtm, approved, size/M, release-note-none, dco-signoff: yes, sig/cluster-management, docs/none

#13365 Add gzip support for etcd snapshots
  cmd/etcd-launcher/cmd_snapshot.go
  cmd/etcd-launcher/pkg/etcd/cluster.go
  cmd/etcd-launcher/pkg/etcd/snapshot.go
  docs/zz_generated.kubermaticConfiguration.ce.yaml
  docs/zz_generated.kubermaticConfiguration.ee.yaml
  pkg/controller/seed-controller-manager/etcdbackup/etcd_backup_controller.go
  pkg/controller/seed-controller-manager/etcdbackup/etcd_backup_controller_test.go
  pkg/defaulting/configuration.go
  pkg/resources/etcd/backup/jobs.go
Labels: size/L, release-note-action-required, lgtm, approved, dco-signoff: yes, sig/cluster-management, docs/none

#13394 Fix anchor links in change logs
  docs/changelogs/CHANGELOG-2.20.md
  docs/changelogs/CHANGELOG-2.21.md
  docs/changelogs/CHANGELOG-2.22.md
  docs/changelogs/CHANGELOG-2.23.md
  docs/changelogs/CHANGELOG-2.24.md
  docs/changelogs/CHANGELOG-2.25.md
Labels: size/L, kind/documentation, lgtm, approved, release-note-none, dco-signoff: yes, docs/none

#13396 Add ManagedByLabel to user ClusterBackup resources
  pkg/ee/cluster-backup/controller.go
  pkg/ee/cluster-backup/resources/user-cluster/cluster_backup.go
  pkg/ee/cluster-backup/resources/user-cluster/crds.go
  pkg/ee/cluster-backup/resources/user-cluster/deployment.go
  pkg/ee/cluster-backup/resources/user-cluster/node_agent.go
  pkg/ee/cluster-backup/resources/user-cluster/secret.go
  pkg/resources/resources.go
Labels: kind/bug, lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, docs/none

#13372 [release/v2.24] Don't propagate cloud-config secret to user cluster
  addons/csi/azure-disk/csi-azuredisk-controller.yaml
  addons/csi/azure-disk/csi-azuredisk-node.yaml
  addons/csi/azure-file/csi-azurefile-controller.yaml
  addons/csi/azure-file/csi-azurefile-node.yaml
  addons/csi/openstack/controllerplugin.yaml
  addons/csi/openstack/nodeplugin.yaml
  pkg/controller/seed-controller-manager/kubernetes/resources.go
  pkg/controller/user-cluster-controller-manager/resources/cloudcontroller/deletion.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/resources/cloudconfig/secret.go
Labels: kind/bug, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, sig/app-management, cherry-pick-approved

#13373 [release/v2.23] Don't propagate cloud-config secret to user cluster
  addons/csi/azure-disk/csi-azuredisk-controller.yaml
  addons/csi/azure-disk/csi-azuredisk-node.yaml
  addons/csi/azure-file/csi-azurefile-controller.yaml
  addons/csi/azure-file/csi-azurefile-node.yaml
  addons/csi/openstack/controllerplugin.yaml
  addons/csi/openstack/nodeplugin.yaml
  pkg/controller/seed-controller-manager/kubernetes/resources.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/resources/cloudconfig/secret.go
Labels: kind/bug, lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, sig/app-management, cherry-pick-approved

#13399 [release/v2.25]Add changelog for KKP patch release 2.25.4
  docs/changelogs/CHANGELOG-2.25.md
Labels: kind/documentation, lgtm, approved, size/M, release-note-none, dco-signoff: yes, cherry-pick-approved

#13401 Sync KKP patch release 2.25.4 changelogs
  docs/changelogs/CHANGELOG-2.25.md
Labels: size/S, kind/documentation, lgtm, approved, release-note-none, dco-signoff: yes, docs/none

#13395 Make registration of metrics collectors optional in the seed controller manager
  cmd/seed-controller-manager/main.go
  cmd/seed-controller-manager/options.go
  docs/zz_generated.kubermaticConfiguration.ce.yaml
  docs/zz_generated.kubermaticConfiguration.ee.yaml
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  hack/lib.sh
  pkg/apis/kubermatic/v1/configuration.go
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/controller/operator/seed/resources/kubermatic/seed-controller-manager.go
  pkg/crd/k8c.io/kubermatic.k8c.io_kubermaticconfigurations.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
Labels: kind/feature, size/L, lgtm, approved, release-note-none, dco-signoff: yes, sig/cluster-management, docs/none

#13332 [release/v2.25] Applications: discover if a release is stuck and rollback if necessary
  pkg/applications/fake/fake_installer.go
  pkg/applications/helmclient/client.go
  pkg/applications/installer.go
  pkg/applications/providers/template/helm.go
  pkg/applications/providers/types.go
  pkg/controller/user-cluster-controller-manager/application-installation-controller/controller.go
Labels: size/L, lgtm, approved, release-note, dco-signoff: yes, sig/app-management, cherry-pick-approved

#13405 Update Azure's fault domains list
  pkg/provider/cloud/azure/availability_set.go
  pkg/provider/cloud/azure/provider.go
Labels: kind/bug, size/L, lgtm, approved, release-note-none, dco-signoff: yes, sig/cluster-management, docs/none

#13412 [release/v2.25] Update github.com/gophercloud/gophercloud to 1.11.0
  go.mod
  go.sum
Labels: lgtm, approved, release-note, size/XS, dco-signoff: yes, kind/regression, cherry-pick-approved
