Repository kubermatic/kubermatic, pull requests merged in 2024-11, with the labels that each got.

#13818 Update the kubevirt csi-driver image to upstream
  pkg/resources/csi/kubevirt/deployment.go
Labels: lgtm, approved, release-note, size/XS, dco-signoff: yes, sig/cluster-management, sig/app-management, docs/none

#13838 Bump AWS cloud-controller-manager
  pkg/resources/cloudcontroller/aws.go
  pkg/resources/test/fixtures/deployment-aws-1.31.0-aws-cloud-controller-manager-externalCloudProvider.yaml
Labels: lgtm, approved, release-note, size/XS, dco-signoff: yes, sig/cluster-management, kind/chore, docs/none

#13807 Refactor Cluster Backup controllers
  cmd/master-controller-manager/controllers.go
  cmd/master-controller-manager/wrappers_ce.go
  cmd/master-controller-manager/wrappers_ee.go
  cmd/seed-controller-manager/wrappers_ee.go
  cmd/user-cluster-controller-manager/main.go
  cmd/user-cluster-controller-manager/wrappers_ce.go
  cmd/user-cluster-controller-manager/wrappers_ee.go
  hack/reconciling.yaml
  hack/versions.yaml
  pkg/ee/cluster-backup/master/storage-location-controller/backupstore/aws/backup_store.go
  pkg/ee/cluster-backup/master/storage-location-controller/backupstore/backup_store.go
  pkg/ee/cluster-backup/master/storage-location-controller/controller.go
  pkg/ee/cluster-backup/master/storage-location-controller/doc.go
  pkg/ee/cluster-backup/master/sync-controller/controller.go
  pkg/ee/cluster-backup/master/sync-controller/doc.go
  pkg/ee/cluster-backup/master/sync-controller/resources.go
  pkg/ee/cluster-backup/user-cluster/velero-controller/controller.go
  pkg/ee/cluster-backup/user-cluster/velero-controller/doc.go
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/cluster_backup.go
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/crds.go
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/deployment.go
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/node_agent.go
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/secret.go
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/backuprepositories.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/backups.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/backupstoragelocations.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/datadownloads.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/datauploads.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/deletebackuprequests.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/downloadrequests.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/podvolumebackups.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/podvolumerestores.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/restores.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/schedules.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/serverstatusrequests.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/volumesnapshotlocations.yaml
  pkg/install/images/wrappers_ee.go
  pkg/resources/reconciling/zz_generated_reconcile.go
Labels: size/XL, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/none

#13835 Add seed default before reconciling user cluster resources
  pkg/controller/seed-controller-manager/kubernetes/resources.go
  pkg/controller/seed-controller-manager/kubernetes/resources_integration_test.go
Labels: kind/bug, size/S, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, kind/regression, docs/none

#13832 Update Cilium to 1.14.16 / 1.15.10, update Trivy
  go.mod
  go.sum
  hack/ci/trivy-scan.sh
  pkg/cni/cilium/cilium-mirror-chart.sh
  pkg/cni/cilium/cilium.go
  pkg/cni/version.go
Labels: lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, sig/networking, kind/chore, docs/none

#13831 refactor CustomOSP sync controller to immediately provision new user clusters
  pkg/controller/seed-controller-manager/operating-system-profile-synchronizer/controller.go
  pkg/controller/seed-controller-manager/operating-system-profile-synchronizer/initial_reconciler.go
  pkg/controller/seed-controller-manager/operating-system-profile-synchronizer/sync_reconciler.go
Labels: size/XL, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/none

#13819 fix cluster credentials not being synced into cluster namespaces
  cmd/seed-controller-manager/controllers.go
  pkg/controller/seed-controller-manager/cluster-credentials-controller/controller.go
  pkg/controller/seed-controller-manager/cluster-credentials-controller/controller_test.go
  pkg/controller/seed-controller-manager/cluster-credentials-controller/doc.go
Labels: kind/bug, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/none

#13825 Equinix Metal: use modern env names for downstream components like KubeOne or MC
  hack/ci/run-conformance-tests.sh
  hack/run-conformance-tests.sh
  pkg/apis/kubermatic/v1/cluster.go
  pkg/controller/master-controller-manager/kubeone/controller.go
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/ee/validation/machine/providers.go
  pkg/resources/data.go
Labels: kind/cleanup, lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, docs/none

#13848 [release/v2.25] Update Cilium to 1.14.16, update Trivy (#13832)
  hack/ci/trivy-scan.sh
  pkg/cni/cilium/cilium-mirror-chart.sh
  pkg/cni/cilium/cilium.go
  pkg/cni/version.go
Labels: size/S, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, sig/networking, cherry-pick-approved

#13849 [release/v2.24] Update Cilium to 1.13.14 / 1.14.16, update Trivy (#13832)
  hack/ci/trivy-scan.sh
  pkg/cni/cilium/cilium-mirror-chart.sh
  pkg/cni/cilium/cilium.go
  pkg/cni/version.go
Labels: lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, sig/networking, cherry-pick-approved

#13795 react to any changes to a Cluster object from the usercluster-ctrl-mgr
  pkg/apis/kubermatic/v1/cluster.go
  pkg/controller/user-cluster-controller-manager/resources/controller.go
Labels: kind/bug, lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, docs/none

#13851 Replace deprecated Packet code with official Equinix Metal SDK
  go.mod
  go.sum
  pkg/ee/validation/machine/providers.go
  pkg/provider/cloud/packet/provider.go
Labels: size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, kind/chore, docs/none

#13854 Bump cloud-controller-managers
  addons/azure-cloud-node-manager/cloud-node-manager.yaml
  pkg/resources/cloudcontroller/azure.go
  pkg/resources/cloudcontroller/digitalocean.go
  pkg/resources/cloudcontroller/openstack.go
  pkg/resources/test/fixtures/deployment-azure-1.28.0-azure-cloud-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-azure-1.29.0-azure-cloud-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-azure-1.30.0-azure-cloud-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-azure-1.31.0-azure-cloud-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.28.0-digitalocean-cloud-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.29.0-digitalocean-cloud-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.30.0-digitalocean-cloud-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.31.0-digitalocean-cloud-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.28.0-openstack-cloud-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.29.0-openstack-cloud-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.30.0-openstack-cloud-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.31.0-openstack-cloud-controller-manager-externalCloudProvider.yaml
Labels: lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, sig/app-management, kind/chore, docs/none

#13855 Use GOFLAGS=-trimpath for all binaries, enable gocache usage in CI
  cmd/conformance-tester/Makefile
  cmd/etcd-launcher/Makefile
  cmd/kubeletdnat-controller/Makefile
  cmd/network-interface-manager/Makefile
  cmd/nodeport-proxy/Makefile
  cmd/user-ssh-keys-agent/Makefile
  hack/release-images.sh
Labels: lgtm, approved, size/M, release-note-none, dco-signoff: yes, docs/none

#13857 Support Provider Network in the KubeVirt CloudSpec in the Seed
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
Labels: kind/feature, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/none

#13874 Fix KubeVirt Tenant CR Templating
  addons/csi/kubevirt/csi-driver-operator.yaml
Labels: kind/bug, size/S, lgtm, approved, release-note-none, dco-signoff: yes, sig/app-management, docs/none

#13858 Setup Kubevirt provider network controller in the seed-controller-manager
  cmd/seed-controller-manager/main.go
  cmd/seed-controller-manager/wrappers_ee.go
  go.mod
  go.sum
  pkg/apis/kubermatic/v1/cluster.go
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/ee/kubevirt-network-controller/client.go
  pkg/ee/kubevirt-network-controller/controller.go
  pkg/ee/kubevirt-network-controller/network_policy.go
  pkg/provider/cloud/kubevirt/provider.go
Labels: size/XL, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/tbd

#13872 [release/v2.26] Bump KubeVirt CSI Driver Operator (#13833)
  addons/csi/kubevirt/csi-driver-operator.yaml
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
Labels: size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, sig/app-management, cherry-pick-approved

#13876 Support ZoneAndRegionEnable field in the KubeVirt CCM
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/resources/cloudconfig/kubevirt/cloudconfig.go
Labels: kind/feature, lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, docs/none

#13867 [release/v2.24] Add changelog for KKP patch releases - Nov 2024
  docs/changelogs/CHANGELOG-2.24.md
Labels: size/S, kind/documentation, lgtm, approved, release-note-none, dco-signoff: yes, cherry-pick-approved

#13878 [release/v2.26] Setup Kubevirt provider network controller in the seed-controller-manager
  cmd/seed-controller-manager/main.go
  cmd/seed-controller-manager/wrappers_ee.go
  go.mod
  go.sum
  pkg/apis/kubermatic/v1/cluster.go
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/ee/kubevirt-network-controller/client.go
  pkg/ee/kubevirt-network-controller/controller.go
  pkg/ee/kubevirt-network-controller/network_policy.go
  pkg/provider/cloud/kubevirt/provider.go
Labels: kind/feature, size/XL, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, cherry-pick-approved

#13870 fix: check for cilium system application in default application controller
  pkg/controller/seed-controller-manager/default-application-controller/controller.go
  pkg/controller/seed-controller-manager/default-application-controller/controller_test.go
  pkg/controller/seed-controller-manager/initial-application-installation-controller/controller.go
  pkg/controller/util/util.go
Labels: size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/none

#13869 [release/v2.26] Add changelogs for KKP patch releases - Nov 2024
  docs/changelogs/CHANGELOG-2.24.md
  docs/changelogs/CHANGELOG-2.25.md
  docs/changelogs/CHANGELOG-2.26.md
Labels: kind/documentation, lgtm, approved, size/M, release-note-none, dco-signoff: yes, cherry-pick-approved

#13873 Sync changelogs for Nov 2024 Patch releases
  docs/changelogs/CHANGELOG-2.24.md
  docs/changelogs/CHANGELOG-2.25.md
  docs/changelogs/CHANGELOG-2.26.md
Labels: kind/documentation, lgtm, approved, size/M, release-note-none, dco-signoff: yes, docs/none

#13893 Allow specyfing replicas and tolerations in stateful set settings #12525
  charts/monitoring/prometheus/rules/kubermatic-seed-kubermatic.yaml
  charts/monitoring/prometheus/rules/src/kubermatic-seed/kubermatic.yaml
  charts/monitoring/prometheus/test/default.yaml.out
  charts/monitoring/prometheus/test/values.example.ce.yaml.out
  charts/monitoring/prometheus/test/values.example.ee.yaml.out
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  pkg/apis/kubermatic/v1/cluster.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/resources/prometheus/statefulset.go
Labels: kind/feature, size/L, kind/api-change, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, sig/app-management, docs/none

#13896 [release/v2.26] Update the kubevirt csi-driver image to upstream (#13818)
  pkg/resources/csi/kubevirt/deployment.go
Labels: lgtm, approved, release-note, size/XS, dco-signoff: yes, sig/cluster-management, cherry-pick-approved

#13895 fix initial sync for CustomOperatingSystemProfiles
  pkg/controller/seed-controller-manager/operating-system-profile-synchronizer/initial_reconciler.go
Labels: kind/bug, lgtm, approved, release-note, size/XS, dco-signoff: yes, sig/cluster-management, docs/none

#13898 Cluster Backup E2E tests
  .prow/features.yaml
  hack/ci/run-cluster-backup-e2e-tests.sh
  hack/ci/setup-kubermatic-cluster-backup-in-kind.sh
  hack/ci/testdata/kubermatic_cluster_backup.yaml
  hack/update-velero-crds.sh
  pkg/controller/seed-controller-manager/kubernetes/resources.go
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/backuprepositories.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/backups.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/backupstoragelocations.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/datadownloads.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/datauploads.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/deletebackuprequests.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/downloadrequests.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/podvolumebackups.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/podvolumerestores.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/restores.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/schedules.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/serverstatusrequests.yaml
  pkg/ee/cluster-backup/user-cluster/velero-controller/resources/static/volumesnapshotlocations.yaml
  pkg/test/e2e/cluster-backup/backup_test.go
  pkg/test/e2e/jig/cluster.go
Labels: size/XXL, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/none

#13902 [release/v2.26] add changelog for 2.26.2
  docs/changelogs/CHANGELOG-2.26.md
Labels: size/S, lgtm, approved, release-note-none, dco-signoff: yes, cherry-pick-approved

#13899 chores(ccm): update openstack version for 1.30 and 1.31
  pkg/resources/cloudcontroller/openstack.go
  pkg/resources/test/fixtures/deployment-openstack-1.30.0-openstack-cloud-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.31.0-openstack-cloud-controller-manager-externalCloudProvider.yaml
Labels: lgtm, approved, release-note, size/XS, dco-signoff: yes, sig/cluster-management, kind/chore, docs/none

#13904 [release/v2.26] chores(ccm): update openstack version for 1.30 and 1.31 (#13899)
  pkg/resources/cloudcontroller/openstack.go
  pkg/resources/test/fixtures/deployment-openstack-1.30.0-openstack-cloud-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-openstack-1.31.0-openstack-cloud-controller-manager-externalCloudProvider.yaml
Labels: lgtm, approved, release-note, size/XS, dco-signoff: yes, sig/cluster-management, kind/chore, cherry-pick-approved

#13903 add changelog for 2.26.2
  docs/changelogs/CHANGELOG-2.26.md
Labels: size/S, lgtm, approved, release-note-none, dco-signoff: yes, docs/none

#13865 fix(installer): add validation for ip that's shown in terminal for ingress and dns configuration
  pkg/install/stack/kubermatic-master/stack.go
  pkg/install/stack/kubermatic-master/validation.go
  pkg/install/stack/kubermatic-master/validation_test.go
Labels: kind/bug, lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, docs/none

#13905 enable usestdlibvars linter
  .golangci.yml
  pkg/ee/metering/reconcile.go
Labels: lgtm, approved, release-note-none, size/XS, dco-signoff: yes, docs/none
