Repository kubermatic/kubermatic, pull requests merged in 2025-10, with the labels that each got.

#15088 fix duplicates in collecting go metrics
  cmd/master-controller-manager/main.go
Labels: lgtm, approved, release-note-none, size/XS, dco-signoff: yes, docs/none, code-freeze-approved

#15046 Set LoadBalancer Classes for openstack on the cluster spec
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/resources/cloudconfig/openstack/cloudconfig.go
  sdk/apis/kubermatic/v1/cluster.go
  sdk/apis/kubermatic/v1/common.go
  sdk/apis/kubermatic/v1/datacenter.go
  sdk/apis/kubermatic/v1/zz_generated.deepcopy.go
Labels: kind/feature, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/tbd

#15095 update default Cilium version to 1.18.2
  hack/mirror-system-application-charts.sh
  pkg/applicationdefinitions/system-applications/cilium.yaml
  pkg/cni/version.go
Labels: kind/bug, size/S, lgtm, approved, release-note, dco-signoff: yes, sig/app-management, sig/networking, docs/none, code-freeze-approved
