Repository kubermatic/kubermatic, pull requests merged in 2025-02, with the labels that each got.

#14067 Update the versions of the applications from default app catalog
  pkg/ee/default-application-catalog/applicationdefinitions/argocd-app.yaml
  pkg/ee/default-application-catalog/applicationdefinitions/cert-manager-app.yaml
  pkg/ee/default-application-catalog/applicationdefinitions/falco-app.yaml
  pkg/ee/default-application-catalog/applicationdefinitions/flux2-app.yaml
  pkg/ee/default-application-catalog/applicationdefinitions/k8sgpt-app.yaml
  pkg/ee/default-application-catalog/applicationdefinitions/kube-vip-app.yaml
  pkg/ee/default-application-catalog/applicationdefinitions/metallb-app.yaml
  pkg/ee/default-application-catalog/applicationdefinitions/nginx-app.yaml
  pkg/ee/default-application-catalog/applicationdefinitions/nvidia-gpu-operator-app.yaml
  pkg/ee/default-application-catalog/applicationdefinitions/trivy-app.yaml
  pkg/ee/default-application-catalog/applicationdefinitions/trivy-operator-app.yaml
Labels: lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, sig/app-management, docs/none

#14091 Fix k8sgpt Application
  pkg/ee/default-application-catalog/applicationdefinitions/k8sgpt-app.yaml
Labels: kind/bug, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, sig/app-management, docs/none, code-freeze-approved

#14093 add kube logo for autoscaler application definition
  pkg/ee/default-application-catalog/applicationdefinitions/cluster-autoscaler.yaml
Labels: lgtm, approved, release-note-none, size/XS, dco-signoff: yes, sig/app-management, kind/chore, docs/none, code-freeze-approved

#14111 Add VolumeProvisioner Field to KubeVirtCloudSpec in the Seed
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
Labels: kind/feature, lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, docs/none, code-freeze-approved

#14114 Remove redundant resources for cluster-autoscaler
  .golangci.apis.yml
  pkg/controller/seed-controller-manager/kubernetes/resources.go
  pkg/controller/user-cluster-controller-manager/resources/reconciler.go
  pkg/controller/user-cluster-controller-manager/resources/resources/clusterautoscaler/clusterautoscaler.go
  pkg/install/images/images.go
  pkg/resources/resources.go
Labels: kind/cleanup, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/none, code-freeze-approved

#14112 Change argocd chart version
  pkg/ee/default-application-catalog/applicationdefinitions/argocd-app.yaml
Labels: lgtm, approved, release-note-none, size/XS, dco-signoff: yes, sig/app-management, docs/none, code-freeze-approved

#14110 Remove Docker binary support from mirror_images installer command
  cmd/kubermatic-installer/cmd_mirror_images.go
Labels: lgtm, approved, release-note, size/XS, dco-signoff: yes, sig/cluster-management, docs/none, code-freeze-approved

#14075 chore: remove v3.19 and v3.20 Canal addons
  addons/canal/canal_v3.19.yaml
  addons/canal/canal_v3.20.yaml
  pkg/cni/version.go
  pkg/webhook/cluster/validation/validation_test.go
  pkg/webhook/clustertemplate/validation/validation_test.go
Labels: kind/cleanup, size/XXL, lgtm, approved, release-note, dco-signoff: yes, sig/app-management, sig/networking, kind/chore, docs/none, code-freeze-approved

#14119 change rbac to cluster scoped for autoscaler extra objects
  pkg/ee/default-application-catalog/applicationdefinitions/cluster-autoscaler.yaml
Labels: kind/bug, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, sig/app-management, docs/none, code-freeze-approved

#14090 Replace `golang.org/x/exp/maps` with stdlib `maps`
  go.mod
  pkg/cni/cilium/cilium.go
Labels: kind/cleanup, needs-ok-to-test, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, sig/networking, docs/none, code-freeze-approved

#14109 add condition to wait on nodes to schedule app workloads
  pkg/controller/seed-controller-manager/cni-application-installation-controller/controller.go
  pkg/controller/user-cluster-controller-manager/application-installation-controller/controller.go
  pkg/controller/user-cluster-controller-manager/application-installation-controller/controller_integration_test.go
  pkg/controller/user-cluster-controller-manager/application-installation-controller/controller_test.go
  pkg/controller/util/util.go
Labels: kind/bug, lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, sig/app-management, sig/networking, docs/none, code-freeze-approved

#14032 Add `mla-skip-logging` option into `kubermatic-installer`
  cmd/kubermatic-installer/cmd_deploy.go
  pkg/install/stack/seed-mla/stack.go
  pkg/install/stack/types.go
  pkg/install/stack/usercluster-mla/stack.go
Labels: kind/feature, size/S, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/provided, code-freeze-approved

#14120 remove ee-only part from default app install namespace description
  docs/zz_generated.kubermaticConfiguration.ce.yaml
  docs/zz_generated.kubermaticConfiguration.ee.yaml
  pkg/apis/kubermatic/v1/configuration.go
  pkg/crd/k8c.io/kubermatic.k8c.io_kubermaticconfigurations.yaml
Labels: kind/bug, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, sig/cluster-management, docs/none, code-freeze-approved

#14128 update build image to fix 'iter' package sorting
  .prow/dualstack.yaml
  .prow/features.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-packet.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/tests.yaml
  hack/update-codegen.sh
  hack/update-docs.sh
  hack/update-fixtures.sh
  hack/verify-licenses.sh
  hack/verify-spelling.sh
Labels: size/L, lgtm, approved, release-note-none, dco-signoff: yes, docs/none, code-freeze-approved

#14126 Mirror system application helm chart images
  addons/Makefile
  addons/aws-node-termination-handler/aws-node-termination-handler.yaml
  cmd/kubermatic-installer/cmd_mirror_images.go
  go.mod
  go.sum
  hack/update-codegen.sh
  pkg/crd/k8c.io/apps.kubermatic.k8c.io_applicationdefinitions.yaml
  pkg/crd/k8c.io/apps.kubermatic.k8c.io_applicationinstallations.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_addonconfigs.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_addons.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_admissionplugins.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_alertmanagers.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_allowedregistries.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clusterbackupstoragelocations.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplateinstances.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_constraints.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_constrainttemplates.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_etcdbackupconfigs.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_etcdrestores.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_externalclusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_groupprojectbindings.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_ipamallocations.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_ipampools.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_kubermaticconfigurations.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_kubermaticsettings.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_mlaadminsettings.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_policybindings.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_policytemplates.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_presets.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_projects.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_resourcequotas.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_rulegroups.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_userprojectbindings.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_users.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_usersshkeys.yaml
  pkg/install/images/addons.go
  pkg/install/images/application_definitions.go
  pkg/install/images/images.go
Labels: kind/bug, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, sig/app-management, docs/none, code-freeze-approved

#14138 Revert "Add policy template and policy instance crds for Kyverno integration (#14002)" after scoping for 2.28
  .codespell.exclude
  .wwhrd.yml
  go.mod
  go.sum
  hack/update-codegen.sh
  pkg/apis/kubermatic/v1/policy_binding.go
  pkg/apis/kubermatic/v1/policy_template.go
  pkg/apis/kubermatic/v1/register.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/crd/k8c.io/kubermatic.k8c.io_policybindings.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_policytemplates.yaml
Labels: kind/cleanup, size/XXL, lgtm, approved, release-note-none, dco-signoff: yes, sig/cluster-management, docs/none, code-freeze-approved

#14142 Add option to overwrite images in addons
  addons/csi/kubevirt/csi-driver-operator.yaml
  docs/zz_generated.addondata.go.txt
  pkg/addon/types.go
  pkg/apis/kubermatic/v1/cluster.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
Labels: lgtm, approved, size/M, release-note, dco-signoff: yes, sig/cluster-management, sig/app-management, docs/none, code-freeze-approved

#14147 Add overwrite kv csi operator image in the seed
  docs/zz_generated.seed.ce.yaml
  docs/zz_generated.seed.ee.yaml
  pkg/apis/kubermatic/v1/datacenter.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/provider/cloud/kubevirt/provider.go
Labels: kind/feature, size/S, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/none, code-freeze-approved

#14146 Fix CA bundle for kubermatic-operator
  charts/kubermatic-operator/templates/deployment.yaml
Labels: kind/bug, size/S, lgtm, approved, release-note, dco-signoff: yes, sig/app-management, docs/none, code-freeze-approved

#14144 Fix namespace for cluster-autoscaler's additional ClusterRoleBindings
  pkg/ee/default-application-catalog/applicationdefinitions/cluster-autoscaler.yaml
Labels: kind/bug, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, sig/app-management, docs/none, code-freeze-approved

#14152 [release/v2.25] Bump github.com/go-git/go-git/v5 from 5.11.0 to 5.13.0
  go.mod
  go.sum
Labels: size/L, lgtm, approved, release-note, dco-signoff: yes, kind/chore, cherry-pick-approved, code-freeze-approved

#14140 Add `mirrorImages` Field to KubermaticConfiguration for Image Mirroring
  cmd/kubermatic-installer/cmd_mirror_images.go
  docs/zz_generated.kubermaticConfiguration.ce.yaml
  docs/zz_generated.kubermaticConfiguration.ee.yaml
  pkg/apis/kubermatic/v1/configuration.go
  pkg/apis/kubermatic/v1/zz_generated.deepcopy.go
  pkg/crd/k8c.io/kubermatic.k8c.io_kubermaticconfigurations.yaml
  pkg/validation/kubermaticconfiguration.go
  pkg/validation/kubermaticconfiguration_test.go
Labels: kind/feature, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/provided, code-freeze-approved

#14149 Fix DigitalOcean support
  .prow/provider-digitalocean.yaml
  pkg/resources/cloudcontroller/digitalocean.go
  pkg/resources/test/fixtures/deployment-digitalocean-1.29.0-digitalocean-cloud-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.30.0-digitalocean-cloud-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.31.0-digitalocean-cloud-controller-manager-externalCloudProvider.yaml
  pkg/resources/test/fixtures/deployment-digitalocean-1.32.0-digitalocean-cloud-controller-manager-externalCloudProvider.yaml
Labels: size/S, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, kind/regression, docs/none, code-freeze-approved

#14154 Include the External Provider in the Machine Resources
  pkg/ee/validation/machine/providers.go
Labels: kind/bug, lgtm, approved, release-note-none, size/XS, dco-signoff: yes, docs/none, code-freeze-approved

#14156 Add changelog for KKP Minor release v2.27.0
  docs/changelogs/CHANGELOG-2.27.md
Labels: size/L, kind/documentation, lgtm, approved, release-note-none, dco-signoff: yes, docs/none, code-freeze-approved

#14164 Apply override registry configuration to cilium-envoy images
  pkg/cni/cilium/cilium.go
  pkg/cni/cilium/cilium_test.go
Labels: kind/bug, lgtm, approved, release-note, size/XS, dco-signoff: yes, sig/networking, docs/none
