Repository kubermatic/kubermatic, pull requests merged in 2025-09, with the labels that each got.

#14736 reconcile evicted launcher pods only when strategy is external
  pkg/controller/user-cluster-controller-manager/kubevirt-vmi-eviction/controller.go
Labels: kind/bug, lgtm, approved, release-note, size/XS, dco-signoff: yes, sig/cluster-management, docs/none

#14938 Add configuration parameters for the new application-catalog manager
  docs/zz_generated.kubermaticConfiguration.ce.yaml
  docs/zz_generated.kubermaticConfiguration.ee.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_kubermaticconfigurations.yaml
  sdk/apis/kubermatic/v1/configuration.go
  sdk/apis/kubermatic/v1/zz_generated.deepcopy.go
Labels: kind/feature, size/L, lgtm, approved, release-note-none, dco-signoff: yes, sig/cluster-management, sig/app-management, docs/none

#14946 Application-Catalog manager deployment
  docs/zz_generated.kubermaticConfiguration.ce.yaml
  docs/zz_generated.kubermaticConfiguration.ee.yaml
  pkg/controller/operator/master/reconciler.go
  pkg/controller/operator/master/resources/application-catalog/constants.go
  pkg/controller/operator/master/resources/application-catalog/manager.go
  pkg/crd/k8c.io/kubermatic.k8c.io_kubermaticconfigurations.yaml
  pkg/features/features.go
  sdk/apis/kubermatic/v1/configuration.go
  sdk/apis/kubermatic/v1/zz_generated.deepcopy.go
Labels: kind/feature, size/XL, lgtm, approved, release-note-none, dco-signoff: yes, sig/cluster-management, docs/none

#14961 Upgrade KubeLB to v1.2.0
  .golangci.yml
  cmd/seed-controller-manager/main.go
  go.mod
  go.sum
  pkg/controller/master-controller-manager/rbac/test/fake/informer_factory.go
  pkg/controller/seed-controller-manager/addon/addon_controller.go
  pkg/controller/util/cluster.go
  pkg/crd/k8c.io/apps.kubermatic.k8c.io_applicationdefinitions.yaml
  pkg/crd/k8c.io/apps.kubermatic.k8c.io_applicationinstallations.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_addonconfigs.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_addons.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_admissionplugins.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_alertmanagers.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_allowedregistries.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clusterbackupstoragelocations.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplateinstances.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_constraints.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_constrainttemplates.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_etcdbackupconfigs.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_etcdrestores.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_externalclusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_groupprojectbindings.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_ipamallocations.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_ipampools.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_kubermaticconfigurations.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_kubermaticsettings.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_mlaadminsettings.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_policybindings.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_policytemplates.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_presets.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_projects.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_resourcequotas.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_rulegroups.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_seeds.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_userprojectbindings.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_users.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_usersshkeys.yaml
  pkg/ee/kubelb/controller.go
  pkg/ee/kubelb/resources/kubelb-cluster/deletion.go
  pkg/ee/kubelb/resources/seed-cluster/deployment.go
  pkg/ee/kubelb/resources/user-cluster/static/crd-syncsecrets.yaml
  sdk/apis/kubermatic/v1/project.go
  sdk/apis/kubermatic/v1/zz_generated.deepcopy.go
  sdk/go.mod
  sdk/go.sum
Labels: kind/feature, size/XXL, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/none

#14948 [release/v2.27] Bump Go version to 1.23.12
  .prow/dualstack.yaml
  .prow/features.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-packet.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/tests.yaml
  cmd/kubeletdnat-controller/Dockerfile.multiarch
  cmd/network-interface-manager/Dockerfile.multiarch
  cmd/user-ssh-keys-agent/Dockerfile.multiarch
  go.mod
  hack/images/integration-tests/Dockerfile
  hack/update-codegen.sh
  hack/update-docs.sh
  hack/update-fixtures.sh
  hack/update-kubermatic-ca-bundle.sh
  hack/verify-licenses.sh
  hack/verify-spelling.sh
Labels: size/L, lgtm, approved, release-note, dco-signoff: yes, kind/chore, cherry-pick-approved

#14958 [release/v2.26] Bump Go version to 1.23.12
  .prow/ccm-migrations.yaml
  .prow/dualstack.yaml
  .prow/features.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-packet.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/tests.yaml
  cmd/kubeletdnat-controller/Dockerfile.multiarch
  cmd/network-interface-manager/Dockerfile.multiarch
  cmd/user-ssh-keys-agent/Dockerfile.multiarch
  go.mod
  hack/images/integration-tests/Dockerfile
  hack/update-codegen.sh
  hack/update-docs.sh
  hack/update-fixtures.sh
  hack/update-kubermatic-ca-bundle.sh
  hack/verify-licenses.sh
  hack/verify-spelling.sh
Labels: size/L, lgtm, approved, release-note, dco-signoff: yes, kind/chore, cherry-pick-approved

#15038 [releasee/v2.27] Bump nginx-ingress-controller version to 1.11.8
  charts/nginx-ingress-controller/Chart.lock
  charts/nginx-ingress-controller/Chart.yaml
  charts/nginx-ingress-controller/test/default.yaml.out
  charts/nginx-ingress-controller/test/values.example.ce.yaml.out
  charts/nginx-ingress-controller/test/values.example.ee.yaml.out
Labels: size/L, lgtm, approved, release-note, dco-signoff: yes, sig/app-management, kind/chore, cherry-pick-approved

#15045 add egress network policy support for auth webhooks
  pkg/controller/seed-controller-manager/kubernetes/resources.go
  pkg/resources/apiserver/networkpolicy.go
  pkg/resources/resources.go
Labels: kind/feature, size/L, lgtm, approved, release-note-none, dco-signoff: yes, sig/cluster-management, docs/none

#14995 add rendering app catalog from oci image to mirror command
  cmd/kubermatic-installer/cmd_mirror_images.go
  docs/zz_generated.kubermaticConfiguration.ce.yaml
  docs/zz_generated.kubermaticConfiguration.ee.yaml
  go.mod
  pkg/controller/operator/master/resources/application-catalog/manager.go
  pkg/defaulting/configuration.go
  pkg/ee/default-application-catalog/application_catalog.go
  pkg/install/images/wrappers_ee.go
Labels: kind/feature, size/XL, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, sig/app-management, docs/tbd

#15048 introduce Cilium 1.17.7 and 1.18.1 and deprecate 1.14.16
  pkg/applicationdefinitions/system-applications/cilium.yaml
  pkg/cni/version.go
Labels: kind/feature, size/S, lgtm, approved, release-note, dco-signoff: yes, sig/app-management, sig/networking, docs/none

#15004 Add kueue to the default application-catalog
  .prow/applications-catalog.yaml
  hack/mirror-system-application-charts.sh
  pkg/ee/default-application-catalog/applicationdefinitions/kueue-app.yaml
Labels: lgtm, approved, size/M, release-note, dco-signoff: yes, sig/app-management, kind/chore, docs/tbd

#14877 Support custom pre-defined values based on conditions for helm values managed by application installations
  .prow/applications-catalog.yaml
  docs/zz_generated.applicationdata.go.txt
  pkg/applications/providers/template/util.go
  pkg/applications/providers/template/util_test.go
  pkg/test/e2e/defaultappcatalog/application_test.go
Labels: size/L, lgtm, approved, release-note, dco-signoff: yes, sig/app-management, docs/tbd

#15065 update default version for cilium to 1.18.1
  pkg/cni/version.go
Labels: lgtm, approved, release-note, size/XS, dco-signoff: yes, sig/networking, docs/none

#15080 Support IPv4 and IPv6 CIDR Customization for Openstack
  pkg/crd/k8c.io/kubermatic.k8c.io_clusters.yaml
  pkg/crd/k8c.io/kubermatic.k8c.io_clustertemplates.yaml
  pkg/provider/cloud/openstack/provider.go
  pkg/provider/cloud/openstack/subnets.go
  sdk/apis/kubermatic/v1/cluster.go
Labels: kind/feature, size/L, lgtm, approved, release-note, dco-signoff: yes, sig/cluster-management, docs/none, code-freeze-approved
